<!-- navbar -->
<nav class="navbar navbar-light navbar-expand-lg sticky-top">
  <div id="top-section" class="container-fluid">
    <a class="navbar-brand" id="brand-name" href="/">
      <svg class="" height="100%" width="100%" style="
          fill-rule: nonzero;
          clip-rule: evenodd;
          stroke-linecap: round;
          stroke-linejoin: round;
        " xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
        xmlns:vectornator="http://vectornator.io" version="1.1" viewBox="0 0 800 800">
        <metadata>
          <vectornator:setting key="DimensionsVisible" value="1" />
          <vectornator:setting key="PencilOnly" value="0" />
          <vectornator:setting key="SnapToPoints" value="0" />
          <vectornator:setting key="OutlineMode" value="0" />
          <vectornator:setting key="RulersVisible" value="1" />
          <vectornator:setting key="GuidesVisible" value="1" />
          <vectornator:setting key="SnapToEdges" value="0" />
          <vectornator:setting key="CMYKEnabledKey" value="0" />
          <vectornator:setting key="DisplayWhiteBackground" value="0" />
          <vectornator:setting key="doHistoryDisabled" value="0" />
          <vectornator:setting key="SnapToGuides" value="1" />
          <vectornator:setting key="TimeLapseWatermarkDisabled" value="0" />
          <vectornator:setting key="DynamicGuides" value="0" />
          <vectornator:setting key="IsolateActiveLayer" value="0" />
          <vectornator:setting key="SnapToGrid" value="0" />
          <vectornator:setting key="Units" value="Points" />
        </metadata>
        <defs />
        <g id="Layer 1" vectornator:layerName="Layer 1">
          <path d="M-4.20107+0L797.208+1.34112L800.297+797.675L-4.20107+802.228L-4.20107+0Z" fill-rule="evenodd"
            fill="#e1dde4" opacity="1" />
          <g opacity="1">
            <g opacity="1">
              <path
                d="M614.443+382.369L593.863+382.369L593.863+396.986C593.863+399.762+594.451+401.766+595.628+402.997C596.804+404.228+598.908+404.844+601.939+404.844L601.939+433.998L548.753+433.998L548.753+404.844C552.263+404.844+554.775+404.228+556.291+402.997C557.807+401.766+558.564+399.448+558.564+396.043L558.564+356.28C558.564+352.822+557.807+350.478+556.291+349.247C554.775+348.016+552.263+347.4+548.753+347.4L548.753+318.246L601.939+318.246L601.939+347.4C598.908+347.4+596.804+348.016+595.628+349.247C594.451+350.478+593.863+352.508+593.863+355.337L593.863+367.989L614.443+367.989L614.443+355.337C614.443+352.508+613.845+350.478+612.649+349.247C611.452+348.016+609.358+347.4+606.367+347.4L606.367+318.246L659.494+318.246L659.494+347.4C655.984+347.4+653.481+348.016+651.985+349.247C650.49+350.478+649.742+352.822+649.742+356.28L649.742+396.043C649.742+399.448+650.49+401.766+651.985+402.997C653.481+404.228+655.984+404.844+659.494+404.844L659.494+433.998L606.367+433.998L606.367+404.844C609.358+404.844+611.452+404.228+612.649+402.997C613.845+401.766+614.443+399.762+614.443+396.986L614.443+382.369Z"
                fill-rule="evenodd" fill="#8e078b" opacity="1" />
              <path
                d="M709.51+366.574L721.356+356.908C722.831+355.861+723.798+354.774+724.257+353.647C724.716+352.521+724.835+351.499+724.616+350.583C724.397+349.666+723.878+348.906+723.061+348.304C722.243+347.701+721.316+347.4+720.279+347.4L720.279+318.246L768.56+318.246L768.56+347.4C766.007+347.4+763.773+347.754+761.859+348.461C759.944+349.168+757.811+350.439+755.457+352.272L743.073+361.859L763.175+396.043C763.893+397.405+764.601+398.623+765.299+399.697C765.997+400.771+766.755+401.687+767.572+402.447C768.39+403.207+769.347+403.796+770.444+404.215C771.541+404.634+772.907+404.844+774.542+404.844L774.542+433.998L720.279+433.998L720.279+404.844C721.994+404.844+723.24+404.53+724.018+403.901C724.796+403.272+725.284+402.499+725.484+401.583C725.683+400.666+725.663+399.775+725.424+398.911C725.184+398.046+724.945+397.405+724.706+396.986L716.091+382.841L709.51+388.106L709.51+396.986C709.51+398.4+709.55+399.579+709.629+400.522C709.709+401.465+709.968+402.264+710.407+402.919C710.846+403.573+711.494+404.058+712.351+404.372C713.209+404.687+714.376+404.844+715.851+404.844L715.851+433.998L664.4+433.998L664.4+404.844C667.909+404.844+670.422+404.228+671.938+402.997C673.453+401.766+674.211+399.448+674.211+396.043L674.211+356.28C674.211+352.822+673.453+350.478+671.938+349.247C670.422+348.016+667.909+347.4+664.4+347.4L664.4+318.246L715.851+318.246L715.851+347.4C714.376+347.4+713.209+347.557+712.351+347.871C711.494+348.186+710.846+348.67+710.407+349.325C709.968+349.98+709.709+350.792+709.629+351.761C709.55+352.731+709.51+353.922+709.51+355.337L709.51+366.574Z"
                fill-rule="evenodd" fill="#8e078b" opacity="1" />
            </g>
            <g opacity="1">
              <path
                d="M153.251+386.128L134.346+386.128L133.508+389.507C132.87+391.76+132.91+393.633+133.628+395.126C134.346+396.619+135.861+397.365+138.175+397.365L141.585+397.365L141.585+426.519L104.312+426.519L104.312+397.365L106.765+397.365C109.637+397.365+111.561+396.619+112.538+395.126C113.516+393.633+114.463+391.445+115.38+388.564L127.645+348.801C128.522+345.763+128.672+343.523+128.094+342.082C127.515+340.642+125.77+339.921+122.859+339.921L121.602+339.921L121.602+310.767L183.105+310.767L183.105+339.921L181.909+339.921C178.957+339.921+177.192+340.681+176.614+342.2C176.035+343.72+176.205+345.92+177.122+348.801L189.387+388.564C189.866+390.031+190.294+391.301+190.673+392.375C191.052+393.449+191.521+394.366+192.079+395.126C192.638+395.885+193.386+396.448+194.323+396.815C195.26+397.182+196.467+397.365+197.942+397.365L200.395+397.365L200.395+426.519L146.012+426.519L146.012+397.365L149.302+397.365C151.576+397.365+153.102+396.619+153.879+395.126C154.657+393.633+154.727+391.76+154.089+389.507L153.251+386.128ZM137.397+373.869L150.14+373.869L144.157+349.744L143.679+349.744L137.397+373.869Z"
                fill-rule="evenodd" fill="#161416" opacity="1" />
              <path
                d="M213.797+339.921C213.119+339.502+212.391+338.887+211.613+338.075C210.835+337.263+210.127+336.241+209.489+335.01C208.851+333.779+208.303+332.364+207.844+330.766C207.385+329.169+207.156+327.348+207.156+325.305C207.156+321.638+207.954+318.468+209.549+315.797C211.144+313.125+213.368+310.924+216.22+309.196C219.072+307.467+222.502+306.209+226.51+305.424C230.519+304.638+234.976+304.245+239.882+304.245C245.585+304.245+250.381+304.69+254.27+305.581C258.159+306.471+261.31+307.755+263.723+309.431C266.136+311.108+267.851+313.125+268.868+315.482C269.885+317.84+270.394+320.459+270.394+323.34C270.394+325.069+270.184+326.733+269.766+328.33C269.347+329.928+268.649+331.382+267.672+332.692C266.694+334.001+265.408+335.049+263.813+335.835C262.217+336.621+260.283+337.014+258.009+337.014C253.861+337.014+250.8+335.73+248.826+333.163C246.852+330.596+245.864+327.427+245.864+323.655C245.864+321.507+246.313+319.713+247.21+318.272C248.108+316.831+249.095+315.849+250.172+315.325L249.454+314.696C247.3+314.696+245.555+315.063+244.219+315.797C242.883+316.53+241.846+317.407+241.108+318.429C240.37+319.451+239.882+320.603+239.642+321.887C239.403+323.17+239.283+324.414+239.283+325.619C239.283+327.348+239.543+329.064+240.061+330.766C240.58+332.469+241.457+333.988+242.694+335.324C243.93+336.66+245.565+337.76+247.599+338.625C249.634+339.489+252.166+339.921+255.197+339.921L261.838+339.921L261.838+369.075L248.317+369.075L248.317+388.878C248.317+392.388+248.975+394.68+250.292+395.754C251.608+396.828+253.283+397.365+255.317+397.365L259.385+397.365L259.385+426.519L206.558+426.519L206.558+397.365L208.891+397.365C211.005+397.365+212.57+396.488+213.587+394.733C214.604+392.978+215.113+391.079+215.113+389.035L215.113+369.075L204.105+369.075L204.105+339.921L213.797+339.921Z"
                fill-rule="evenodd" fill="#161416" opacity="1" />
              <path
                d="M307.128+339.921L306.111+361.532L307.128+361.532C308.524+353.254+310.847+346.994+314.098+342.75C317.348+338.507+321.566+336.385+326.751+336.385C329.823+336.385+332.465+337.027+334.679+338.31C336.892+339.594+338.677+341.31+340.033+343.458C341.389+345.605+342.366+348.081+342.965+350.884C343.563+353.686+343.862+356.581+343.862+359.567C343.862+362.029+343.583+364.465+343.025+366.875C342.466+369.285+341.569+371.459+340.332+373.398C339.096+375.336+337.5+376.894+335.546+378.073C333.592+379.252+331.179+379.841+328.307+379.841C324.318+379.841+321.177+378.505+318.884+375.834C316.591+373.162+315.444+369.94+315.444+366.168C315.444+364.334+315.604+362.776+315.923+361.492C316.242+360.209+316.571+359.161+316.91+358.349C317.249+357.537+317.478+356.948+317.598+356.581C317.717+356.214+317.578+356.031+317.179+356.031C316.341+356.031+315.434+357.288+314.457+359.803C313.48+362.317+312.991+366.273+312.991+371.669L312.991+389.664C312.991+392.441+313.36+394.418+314.098+395.597C314.836+396.776+316.262+397.365+318.376+397.365L321.965+397.365L321.965+426.519L271.59+426.519L271.59+397.365L275.12+397.365C276.755+397.365+278.002+396.671+278.859+395.283C279.717+393.894+280.146+392.231+280.146+390.293L280.146+375.362C280.146+372.9+279.597+371.237+278.5+370.372C277.404+369.508+276.157+369.075+274.761+369.075L271.59+369.075L271.59+339.921L307.128+339.921Z"
                fill-rule="evenodd" fill="#161416" opacity="1" />
              <path
                d="M347.571+383.063C347.571+375.362+348.589+368.604+350.623+362.789C352.657+356.974+355.558+352.115+359.328+348.212C363.097+344.309+367.634+341.362+372.938+339.371C378.243+337.381+384.166+336.385+390.707+336.385C397.248+336.385+403.171+337.381+408.476+339.371C413.781+341.362+418.308+344.309+422.057+348.212C425.806+352.115+428.708+356.974+430.762+362.789C432.816+368.604+433.843+375.362+433.843+383.063C433.843+390.659+432.816+397.391+430.762+403.259C428.708+409.126+425.806+414.038+422.057+417.993C418.308+421.948+413.781+424.921+408.476+426.912C403.171+428.903+397.248+429.898+390.707+429.898C384.166+429.898+378.243+428.903+372.938+426.912C367.634+424.921+363.097+421.948+359.328+417.993C355.558+414.038+352.657+409.126+350.623+403.259C348.589+397.391+347.571+390.659+347.571+383.063ZM381.613+383.063C381.613+387.464+381.763+391.196+382.062+394.261C382.361+397.326+382.85+399.788+383.528+401.648C384.206+403.508+385.123+404.87+386.28+405.734C387.437+406.599+388.912+407.031+390.707+407.031C392.502+407.031+393.968+406.599+395.105+405.734C396.241+404.87+397.159+403.508+397.857+401.648C398.555+399.788+399.043+397.326+399.322+394.261C399.602+391.196+399.741+387.464+399.741+383.063C399.741+374.262+399.113+368.093+397.857+364.557C396.6+361.021+394.217+359.253+390.707+359.253C388.912+359.253+387.437+359.659+386.28+360.471C385.123+361.283+384.206+362.619+383.528+364.478C382.85+366.338+382.361+368.8+382.062+371.865C381.763+374.93+381.613+378.663+381.613+383.063Z"
                fill-rule="evenodd" fill="#161416" opacity="1" />
              <g opacity="1">
                <path d="M493.797+310.94L500.4+310.94L500.4+328.501L500.4+362.652L493.797+362.652L493.797+310.94Z"
                  fill-rule="evenodd" fill="#150e15" opacity="1" />
                <path
                  d="M491.983+401.466L492.481+502.934L38.4298+503.175L39.4383+256.958L330.483+256.784C330.483+256.784+307.225+218.503+305.178+213.405L56.0363+210.087C27.6379+210.087+13.0933+232.236+13.0933+259.181L13.0933+501.928C13.0933+528.63+35.8632+550.477+64.2616+550.477L473.608+550.477C501.75+550.477+524.776+528.63+524.776+501.928L523.736+402.261C519.386+402.261+491.983+401.466+491.983+401.466Z"
                  fill-rule="evenodd" fill="#000000" opacity="1" />
                <path
                  d="M538.742+265.751L466.413+166.129C464.352+163.295+461.747+161.399+458.927+160.665L359.589+135.892C353.419+134.424+347.221+138.706+344.358+146.657C341.496+154.589+342.626+164.233+347.135+170.431L419.478+270.053C421.539+272.887+424.144+274.784+426.964+275.518L526.303+300.291C527.133+300.494+527.963+300.596+528.794+300.596C534.09+300.596+539.057+296.417+541.533+289.545C544.367+281.614+543.251+271.949+538.742+265.751ZM487.451+305.013L478.361+342.521C478.361+342.521+416.562+347.595+397.808+323.682C366.048+283.183+348.843+243.156+348.843+243.156L361.084+208.449L408.885+275.878C415.128+285.424+417.533+289.527+430.59+293.008L487.451+305.013Z"
                  fill-rule="evenodd" fill="#000000" opacity="1" />
                <path
                  d="M352.831+135.383L353.373+134.898L354.4+134.389L355.519+133.952L356.488+133.705L435.159+246.002L489.903+259.862L544.346+273.306L544.481+274.19L544.629+275.451L544.724+276.694L544.742+277.826L544.74+278.645L433.395+249.442L352.831+135.383Z"
                  fill-rule="evenodd" fill="#efe8e8" opacity="1" />
                <path
                  d="M297.734+664.225L220.557+664.225C216.129+664.225+212.526+655.582+212.526+644.957C212.526+634.332+216.129+625.689+220.557+625.689L221.052+625.689C226.126+625.689+230.413+618.438+230.413+609.85L230.413+579.373C230.413+578.619+230.339+577.903+230.28+577.188L232.62+570.642L283.019+570.642L285.359+577.188C285.297+577.925+285.223+578.636+285.223+579.373L285.223+609.674C285.223+618.356+289.46+625.689+294.479+625.689L297.734+625.689C302.162+625.689+305.765+634.332+305.765+644.957C305.765+655.582+302.162+664.225+297.734+664.225Z"
                  fill-rule="evenodd" fill="#100f0f" opacity="1" />
                <path
                  d="M250.04+525.985C250.04+521.446+252.351+517.766+255.202+517.766C258.053+517.766+260.364+521.446+260.364+525.985C260.364+530.524+258.053+534.204+255.202+534.204C252.351+534.204+250.04+530.524+250.04+525.985Z"
                  fill-rule="evenodd" fill="#f7f1f1" opacity="1" />
                <path
                  d="M485.36+245.489C485.765+244.014+487.25+243.683+488.679+244.751C490.107+245.819+490.937+247.881+490.532+249.356C490.128+250.831+488.643+251.162+487.214+250.094C485.786+249.026+484.956+246.964+485.36+245.489Z"
                  fill-rule="evenodd" fill="#efe8e8" opacity="1" />
              </g>
            </g>
          </g>
        </g>
      </svg>
      <!-- <img src="https://i.ibb.co/nB7zHTr/afroHK.jpg" alt="afroHK" alt="" -->
      <!-- class="logo-navbar img-fluid" /> -->
      <!-- <img src="../images/logo_Afrohk.jpeg" alt="" width="50" height="50"> -->
      <!-- <span class="afro ms-2">Afro</span><span class="hk">HK</span> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link m-0" id="drop-down-contact" href="#footer"><span class="myNav-link">Contacts</span></a>
        </li>
      </ul>
      <!-- <div class="nav-item ms-auto" style="z-index: 3000;">
		<span id='ct' ></span>
	      </div> -->
      <div class="navbar-nav ms-auto">
        <% if (!currentUser || currentUser == null) {%>
        <a class="nav-link-connexion me-2 my-2" href="/login">Connexion</a>
        <%} else { %>
        <h3 id="user" class="px-2 align-self-center">
          <a class="profile-link" href="/user/<%= currentUser._id%>">
            <i class="bi bi-person-circle"></i>
            <%=currentUser.username%>
          </a>
        </h3>
        <a class="nav-link my-1 btn btn-outline-danger" href="/logout">Deconnexion</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
<!--End Navbar-->