<footer id="footer" class="d-flex-row justify-content-center">
  <div class="text-center brand-section pt-5">
    <h1 class="header-text">Afro <span class="footer-hk"> House of Knowledge</span></h1>
    </h1>
    <p class="motto-footer px-2">
      Commited To Provide Digital Solutions For a Stronger Africa
    </p>
    <hr>
  </div>

  <div class="contact container py-3">
    <div class="row justify-content-center">
      <!--Hear from you-->
      <div class="col-lg-3 d-flex justify-content-center align-items-center m-0 p-0">
        <div class="logo-footer-wrapper d-flex justify-content-center align-items-center flex-column">
<svg height="100%" class="svg-logo" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="0 0 1280 720" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:vectornator="http://vectornator.io" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs/>
<clipPath id="ArtboardFrame">
<rect height="720" width="1280" x="0" y="0"/>
</clipPath>
<g clip-path="url(#ArtboardFrame)" id="Layer-1" vectornator:layerName="Layer 1">
<path d="M-30.9864 0L1310.99 0L1310.99 797.415L-30.9864 797.415L-30.9864 0Z" fill="#ffffff" fill-rule="nonzero" opacity="1" stroke="none"/>
<g opacity="1">
<path d="M765.492 251.186L772.269 251.186L772.269 261.959L772.269 282.909L765.492 282.909L765.492 251.186Z" fill="#ffffff" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M763.63 306.719L764.141 368.964L298.133 369.112L299.168 218.07L597.877 217.964C597.877 217.964 574.007 194.48 571.906 191.353L316.203 189.317C287.057 189.317 272.13 202.905 272.13 219.434L272.13 368.347C272.13 384.728 295.499 398.13 324.645 398.13L744.771 398.13C773.655 398.13 797.287 384.728 797.287 368.347L796.219 307.207C791.755 307.207 763.63 306.719 763.63 306.719Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#210303" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M811.621 223.465L737.387 162.352C735.272 160.613 732.598 159.45 729.704 159L627.749 143.803C621.418 142.902 615.056 145.529 612.118 150.407C609.18 155.272 610.341 161.189 614.968 164.991L689.216 226.104C691.332 227.842 694.005 229.006 696.899 229.456L798.854 244.653C799.706 244.778 800.558 244.841 801.41 244.841C806.846 244.841 811.944 242.276 814.485 238.061C817.394 233.196 816.248 227.267 811.621 223.465ZM758.979 247.55L749.649 270.559C749.649 270.559 686.223 273.672 666.976 259.002C634.379 234.158 616.721 209.604 616.721 209.604L629.284 188.313L678.344 229.677C684.752 235.533 687.22 238.05 700.621 240.185L758.979 247.55Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M620.814 143.491L621.37 143.193L622.424 142.881L623.573 142.613L624.567 142.461L705.31 211.35L761.496 219.852L817.373 228.099L817.51 228.641L817.663 229.415L817.76 230.178L817.779 230.872L817.776 231.375L703.499 213.46L620.814 143.491Z" fill="#f6eeee" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M564.266 467.908L485.056 467.908C480.512 467.908 476.814 462.606 476.814 456.088C476.814 449.57 480.512 444.268 485.056 444.268L485.565 444.268C490.772 444.268 495.172 439.82 495.172 434.552L495.172 415.856C495.172 415.393 495.096 414.954 495.035 414.515L497.437 410.5L549.163 410.5L551.565 414.515C551.501 414.968 551.426 415.404 551.426 415.856L551.426 434.444C551.426 439.77 555.774 444.268 560.925 444.268L564.266 444.268C568.81 444.268 572.508 449.57 572.508 456.088C572.508 462.606 568.81 467.908 564.266 467.908Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M515.316 383.105C515.316 380.321 517.688 378.063 520.614 378.063C523.54 378.063 525.912 380.321 525.912 383.105C525.912 385.89 523.54 388.147 520.614 388.147C517.688 388.147 515.316 385.89 515.316 383.105Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M756.833 211.035C757.248 210.13 758.773 209.927 760.239 210.582C761.705 211.238 762.557 212.502 762.142 213.407C761.727 214.312 760.202 214.515 758.736 213.86C757.27 213.205 756.418 211.94 756.833 211.035Z" fill="#f0e5e5" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<g opacity="1">
<path d="M435.716 324.598L406.918 324.598L402.956 338.821L377.116 338.821L407.867 252.655L435.437 252.655L466.188 338.821L439.734 338.821L435.716 324.598ZM430.414 305.965L421.373 274.99L412.388 305.965L430.414 305.965Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M498.055 276.401L508.882 276.401L508.882 293.916L498.055 293.916L498.055 338.821L475.285 338.821L475.285 293.916L466.802 293.916L466.802 276.401L475.285 276.401L475.285 273.579C475.285 271.032 475.545 268.231 476.066 265.174C476.587 262.118 477.564 259.62 478.996 257.68C480.428 255.741 482.438 254.173 485.023 252.978C487.609 251.783 491.395 251.186 496.381 251.186C500.362 251.186 506.147 251.675 513.737 252.655L511.226 267.114C508.51 266.644 506.315 266.409 504.64 266.409C502.594 266.409 501.124 266.771 500.231 267.496C499.338 268.221 498.706 269.367 498.334 270.935C498.148 271.797 498.055 273.619 498.055 276.401Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M517.477 276.401L538.74 276.401L538.74 286.628C540.786 282.2 542.898 279.153 545.074 277.488C547.251 275.823 549.939 274.99 553.139 274.99C556.487 274.99 560.152 276.087 564.133 278.282L557.101 295.327C554.422 294.151 552.302 293.563 550.739 293.563C547.762 293.563 545.456 294.857 543.819 297.443C541.475 301.087 540.303 307.905 540.303 317.897L540.303 338.821L517.477 338.821L517.477 276.401Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M565.194 307.787C565.194 298.266 568.244 290.419 574.346 284.247C580.448 278.076 588.689 274.99 599.07 274.99C610.939 274.99 619.905 278.615 625.97 285.864C630.844 291.702 633.281 298.893 633.281 307.435C633.281 317.035 630.258 324.901 624.212 331.034C618.166 337.166 609.804 340.232 599.126 340.232C589.601 340.232 581.899 337.685 576.021 332.591C568.803 326.282 565.194 318.015 565.194 307.787ZM587.964 307.729C587.964 313.293 589.033 317.407 591.173 320.072C593.312 322.736 596 324.069 599.237 324.069C602.511 324.069 605.2 322.756 607.302 320.131C609.404 317.505 610.455 313.293 610.455 307.494C610.455 302.086 609.395 298.06 607.274 295.415C605.153 292.77 602.53 291.448 599.405 291.448C596.093 291.448 593.359 292.79 591.201 295.474C589.043 298.158 587.964 302.243 587.964 307.729Z" fill="#331414" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
</g>
<g opacity="1">
<path d="M817.654 251.186L844.086 251.186L844.086 283.445L872.968 283.445L872.968 251.186L899.517 251.186L899.517 343.375L872.968 343.375L872.968 306.084L844.086 306.084L844.086 343.375L817.654 343.375L817.654 251.186Z" fill="#8e068b" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
<path d="M917.197 251.186L943.629 251.186L943.629 286.024L971.344 251.186L1006.47 251.186L975.312 285.961L1007.87 343.375L975.312 343.375L957.282 305.455L943.629 320.862L943.629 343.375L917.197 343.375L917.197 251.186Z" fill="#8e068b" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"/>
</g>
</g>
<path d="M41.4202 901.278L55.2294 901.278L55.2294 902.648L41.4202 902.648L41.4202 901.278Z" fill="#000000" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M39.617 845.814L1197.61 845.814L1197.61 851.708L39.617 851.708L39.617 845.814Z" fill="#2d2929" fill-rule="nonzero" opacity="1" stroke="none"/>
<g opacity="1">
<path d="M129.233 530.708L153.309 530.708C158.055 530.708 161.888 531.41 164.81 532.815C167.731 534.22 170.146 536.236 172.054 538.864C173.962 541.492 175.345 544.548 176.203 548.034C177.062 551.521 177.491 555.215 177.491 559.117C177.491 565.231 176.853 569.972 175.577 573.341C174.301 576.71 172.531 579.533 170.265 581.809C167.999 584.086 165.567 585.601 162.967 586.355C159.414 587.396 156.194 587.916 153.309 587.916L129.233 587.916L129.233 530.708ZM145.439 543.664L145.439 574.922L149.409 574.922C152.796 574.922 155.205 574.512 156.636 573.692C158.066 572.873 159.187 571.442 159.998 569.4C160.809 567.357 161.214 564.047 161.214 559.468C161.214 553.407 160.308 549.257 158.496 547.02C156.683 544.782 153.678 543.664 149.481 543.664L145.439 543.664Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M185.576 530.708L200.135 530.708L200.135 541.518L185.576 541.518L185.576 530.708ZM185.576 546.473L200.135 546.473L200.135 587.916L185.576 587.916L185.576 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M235.873 546.473L249.502 546.473L249.502 585.614L249.538 587.448C249.538 590.05 249.031 592.528 248.018 594.882C247.004 597.236 245.657 599.142 243.975 600.599C242.294 602.056 240.159 603.109 237.572 603.76C234.984 604.41 232.021 604.735 228.682 604.735C221.051 604.735 215.81 603.487 212.96 600.989C210.11 598.492 208.685 595.149 208.685 590.96C208.685 590.44 208.709 589.737 208.757 588.853L222.887 590.609C223.245 592.04 223.793 593.028 224.533 593.575C225.606 594.381 226.953 594.784 228.575 594.784C230.674 594.784 232.242 594.173 233.279 592.95C234.317 591.728 234.835 589.594 234.835 586.55L234.835 580.268C233.404 582.115 231.973 583.455 230.543 584.287C228.301 585.588 225.88 586.238 223.281 586.238C218.201 586.238 214.099 583.819 210.975 578.98C208.757 575.546 207.648 571.006 207.648 565.361C207.648 558.909 209.079 553.992 211.941 550.61C214.802 547.228 218.547 545.537 223.173 545.537C226.131 545.537 228.569 546.083 230.489 547.176C232.409 548.269 234.203 550.077 235.873 552.6L235.873 546.473ZM222.172 566.571C222.172 569.562 222.756 571.78 223.925 573.224C225.093 574.668 226.631 575.39 228.539 575.39C230.352 575.39 231.872 574.642 233.1 573.146C234.328 571.65 234.943 569.393 234.943 566.375C234.943 563.358 234.299 561.049 233.011 559.449C231.723 557.849 230.149 557.049 228.289 557.049C226.429 557.049 224.944 557.784 223.835 559.254C222.726 560.724 222.172 563.162 222.172 566.571Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M258.839 530.708L273.399 530.708L273.399 541.518L258.839 541.518L258.839 530.708ZM258.839 546.473L273.399 546.473L273.399 587.916L258.839 587.916L258.839 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M300.264 530.708L300.264 546.473L308.277 546.473L308.277 558.063L300.264 558.063L300.264 572.775C300.264 574.544 300.419 575.715 300.729 576.287C301.206 577.172 302.041 577.614 303.233 577.614C304.306 577.614 305.809 577.276 307.741 576.6L308.814 587.565C305.213 588.424 301.85 588.853 298.726 588.853C295.101 588.853 292.43 588.346 290.713 587.331C288.996 586.316 287.726 584.775 286.903 582.707C286.08 580.638 285.669 577.289 285.669 572.658L285.669 558.063L280.303 558.063L280.303 546.473L285.669 546.473L285.669 538.864L300.264 530.708Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M328.489 559.898L314.573 558.298C315.098 555.644 315.855 553.556 316.845 552.034C317.835 550.512 319.26 549.192 321.12 548.073C322.455 547.267 324.292 546.643 326.629 546.2C328.966 545.758 331.494 545.537 334.213 545.537C338.577 545.537 342.083 545.804 344.73 546.337C347.377 546.87 349.583 547.982 351.348 549.673C352.588 550.844 353.566 552.503 354.281 554.649C354.997 556.795 355.354 558.844 355.354 560.795L355.354 579.097C355.354 581.048 355.468 582.577 355.694 583.682C355.921 584.788 356.416 586.199 357.179 587.916L343.514 587.916C342.965 586.85 342.607 586.037 342.44 585.477C342.273 584.918 342.107 584.04 341.94 582.843C340.032 584.846 338.136 586.277 336.252 587.136C333.676 588.281 330.683 588.853 327.273 588.853C322.741 588.853 319.301 587.708 316.952 585.419C314.603 583.129 313.429 580.307 313.429 576.951C313.429 573.803 314.275 571.214 315.968 569.185C317.662 567.156 320.786 565.647 325.341 564.658C330.802 563.462 334.344 562.623 335.965 562.141C337.587 561.66 339.304 561.029 341.117 560.249C341.117 558.298 340.747 556.932 340.008 556.151C339.269 555.371 337.969 554.981 336.109 554.981C333.724 554.981 331.935 555.397 330.743 556.229C329.813 556.88 329.061 558.102 328.489 559.898ZM341.117 568.249C339.114 569.029 337.027 569.718 334.857 570.317C331.899 571.175 330.027 572.021 329.24 572.853C328.429 573.712 328.024 574.687 328.024 575.78C328.024 577.029 328.423 578.05 329.222 578.843C330.021 579.637 331.196 580.034 332.746 580.034C334.368 580.034 335.876 579.604 337.271 578.746C338.666 577.887 339.656 576.84 340.24 575.604C340.825 574.369 341.117 572.762 341.117 570.785L341.117 568.249Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M364.584 530.708L379.179 530.708L379.179 587.916L364.584 587.916L364.584 530.708Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M429.118 546.473L436.058 546.473L436.058 558.102L429.118 558.102L429.118 587.916L414.523 587.916L414.523 558.102L409.085 558.102L409.085 546.473L414.523 546.473L414.523 544.6C414.523 542.909 414.69 541.049 415.024 539.02C415.358 536.991 415.984 535.332 416.902 534.045C417.82 532.757 419.108 531.716 420.765 530.923C422.423 530.129 424.849 529.732 428.045 529.732C430.597 529.732 434.305 530.058 439.171 530.708L437.561 540.308C435.82 539.996 434.413 539.84 433.34 539.84C432.028 539.84 431.086 540.08 430.513 540.561C429.941 541.043 429.536 541.804 429.297 542.844C429.178 543.417 429.118 544.626 429.118 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M438.384 567.312C438.384 560.99 440.339 555.781 444.25 551.683C448.161 547.586 453.444 545.537 460.098 545.537C467.705 545.537 473.453 547.943 477.34 552.756C480.464 556.633 482.027 561.406 482.027 567.078C482.027 573.452 480.089 578.674 476.213 582.746C472.338 586.817 466.978 588.853 460.133 588.853C454.028 588.853 449.092 587.162 445.323 583.78C440.697 579.591 438.384 574.102 438.384 567.312ZM452.979 567.273C452.979 570.967 453.665 573.699 455.036 575.468C456.407 577.237 458.13 578.121 460.205 578.121C462.304 578.121 464.027 577.25 465.374 575.507C466.722 573.764 467.395 570.967 467.395 567.117C467.395 563.527 466.716 560.854 465.356 559.098C463.997 557.341 462.316 556.463 460.312 556.463C458.19 556.463 456.437 557.355 455.054 559.137C453.67 560.919 452.979 563.631 452.979 567.273Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M489.181 546.473L502.811 546.473L502.811 553.264C504.122 550.324 505.476 548.301 506.871 547.195C508.266 546.09 509.989 545.537 512.04 545.537C514.186 545.537 516.536 546.265 519.087 547.722L514.58 559.039C512.863 558.259 511.503 557.868 510.502 557.868C508.594 557.868 507.115 558.727 506.066 560.444C504.564 562.863 503.812 567.39 503.812 574.024L503.812 587.916L489.181 587.916L489.181 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M544.128 568.99L559.547 567.936C559.88 570.668 560.56 572.749 561.586 574.18C563.255 576.495 565.64 577.653 568.74 577.653C571.054 577.653 572.836 577.061 574.088 575.878C575.34 574.694 575.966 573.322 575.966 571.761C575.966 570.278 575.37 568.951 574.178 567.78C572.985 566.61 570.219 565.504 565.878 564.463C558.771 562.72 553.704 560.405 550.675 557.517C547.622 554.629 546.096 550.948 546.096 546.473C546.096 543.534 546.877 540.757 548.439 538.142C550.001 535.527 552.35 533.472 555.486 531.976C558.622 530.48 562.921 529.732 568.383 529.732C575.084 529.732 580.194 531.092 583.711 533.81C587.229 536.529 589.322 540.854 589.989 546.786L574.714 547.761C574.309 545.186 573.456 543.313 572.157 542.142C570.857 540.971 569.062 540.386 566.773 540.386C564.889 540.386 563.47 540.822 562.516 541.693C561.562 542.565 561.085 543.625 561.085 544.874C561.085 545.784 561.478 546.604 562.265 547.332C563.028 548.086 564.841 548.789 567.703 549.439C574.786 551.104 579.86 552.789 582.924 554.493C585.989 556.197 588.219 558.311 589.614 560.834C591.009 563.358 591.706 566.18 591.706 569.302C591.706 572.97 590.776 576.352 588.916 579.448C587.056 582.544 584.456 584.892 581.118 586.492C577.779 588.092 573.57 588.892 568.49 588.892C559.57 588.892 553.394 587.019 549.959 583.273C546.525 579.526 544.582 574.765 544.128 568.99Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M616.461 530.708L616.461 546.473L624.475 546.473L624.475 558.063L616.461 558.063L616.461 572.775C616.461 574.544 616.616 575.715 616.926 576.287C617.403 577.172 618.238 577.614 619.431 577.614C620.504 577.614 622.006 577.276 623.938 576.6L625.011 587.565C621.41 588.424 618.047 588.853 614.923 588.853C611.298 588.853 608.627 588.346 606.91 587.331C605.193 586.316 603.923 584.775 603.1 582.707C602.277 580.638 601.866 577.289 601.866 572.658L601.866 558.063L596.5 558.063L596.5 546.473L601.866 546.473L601.866 538.864L616.461 530.708Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M631.558 546.473L645.187 546.473L645.187 553.264C646.499 550.324 647.852 548.301 649.247 547.195C650.642 546.09 652.366 545.537 654.417 545.537C656.563 545.537 658.912 546.265 661.464 547.722L656.956 559.039C655.239 558.259 653.88 557.868 652.878 557.868C650.97 557.868 649.492 558.727 648.442 560.444C646.94 562.863 646.189 567.39 646.189 574.024L646.189 587.916L631.558 587.916L631.558 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M663.324 567.312C663.324 560.99 665.28 555.781 669.191 551.683C673.102 547.586 678.384 545.537 685.038 545.537C692.646 545.537 698.393 547.943 702.281 552.756C705.405 556.633 706.967 561.406 706.967 567.078C706.967 573.452 705.029 578.674 701.154 582.746C697.278 586.817 691.919 588.853 685.074 588.853C678.969 588.853 674.032 587.162 670.264 583.78C665.637 579.591 663.324 574.102 663.324 567.312ZM677.919 567.273C677.919 570.967 678.605 573.699 679.976 575.468C681.348 577.237 683.071 578.121 685.145 578.121C687.244 578.121 688.967 577.25 690.315 575.507C691.662 573.764 692.336 570.967 692.336 567.117C692.336 563.527 691.656 560.854 690.297 559.098C688.937 557.341 687.256 556.463 685.253 556.463C683.13 556.463 681.377 557.355 679.994 559.137C678.611 560.919 677.919 563.631 677.919 567.273Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M713.979 546.473L727.536 546.473L727.536 553.225C729.564 550.467 731.615 548.496 733.689 547.312C735.764 546.129 738.292 545.537 741.273 545.537C745.304 545.537 748.458 546.844 750.735 549.459C753.013 552.073 754.152 556.112 754.152 561.576L754.152 587.916L739.52 587.916L739.52 565.127C739.52 562.525 739.079 560.684 738.197 559.605C737.314 558.525 736.074 557.985 734.476 557.985C732.712 557.985 731.281 558.714 730.184 560.171C729.087 561.628 728.538 564.242 728.538 568.014L728.538 587.916L713.979 587.916L713.979 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M789.281 546.473L802.91 546.473L802.91 585.614L802.946 587.448C802.946 590.05 802.439 592.528 801.426 594.882C800.412 597.236 799.065 599.142 797.383 600.599C795.702 602.056 793.567 603.109 790.98 603.76C788.392 604.41 785.429 604.735 782.09 604.735C774.459 604.735 769.218 603.487 766.368 600.989C763.518 598.492 762.093 595.149 762.093 590.96C762.093 590.44 762.117 589.737 762.165 588.853L776.295 590.609C776.653 592.04 777.201 593.028 777.941 593.575C779.014 594.381 780.361 594.784 781.983 594.784C784.082 594.784 785.65 594.173 786.687 592.95C787.725 591.728 788.243 589.594 788.243 586.55L788.243 580.268C786.812 582.115 785.381 583.455 783.95 584.287C781.709 585.588 779.288 586.238 776.689 586.238C771.609 586.238 767.507 583.819 764.383 578.98C762.165 575.546 761.056 571.006 761.056 565.361C761.056 558.909 762.487 553.992 765.349 550.61C768.21 547.228 771.955 545.537 776.581 545.537C779.538 545.537 781.977 546.083 783.897 547.176C785.817 548.269 787.611 550.077 789.281 552.6L789.281 546.473ZM775.58 566.571C775.58 569.562 776.164 571.78 777.332 573.224C778.501 574.668 780.039 575.39 781.947 575.39C783.76 575.39 785.28 574.642 786.508 573.146C787.736 571.65 788.351 569.393 788.351 566.375C788.351 563.358 787.707 561.049 786.419 559.449C785.131 557.849 783.557 557.049 781.697 557.049C779.837 557.049 778.352 557.784 777.243 559.254C776.134 560.724 775.58 563.162 775.58 566.571Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M853.887 571.136L824.696 571.136C824.958 573.686 825.59 575.585 826.592 576.834C827.999 578.629 829.835 579.526 832.101 579.526C833.532 579.526 834.891 579.136 836.179 578.356C836.966 577.861 837.813 576.99 838.719 575.741L853.064 577.185C850.87 581.347 848.223 584.333 845.122 586.141C842.022 587.949 837.574 588.853 831.779 588.853C826.747 588.853 822.788 588.079 819.902 586.531C817.017 584.983 814.626 582.525 812.73 579.156C810.834 575.787 809.886 571.826 809.886 567.273C809.886 560.795 811.788 555.553 815.592 551.547C819.396 547.54 824.648 545.537 831.35 545.537C836.787 545.537 841.08 546.434 844.228 548.23C847.376 550.025 849.773 552.626 851.418 556.034C853.064 559.442 853.887 563.878 853.887 569.341L853.887 571.136ZM839.077 563.527C838.79 560.457 838.033 558.259 836.805 556.932C835.577 555.605 833.961 554.942 831.958 554.942C829.644 554.942 827.796 555.943 826.413 557.946C825.531 559.195 824.97 561.055 824.732 563.527L839.077 563.527Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M860.719 546.473L874.349 546.473L874.349 553.264C875.66 550.324 877.014 548.301 878.409 547.195C879.804 546.09 881.527 545.537 883.578 545.537C885.725 545.537 888.074 546.265 890.625 547.722L886.118 559.039C884.401 558.259 883.042 557.868 882.04 557.868C880.132 557.868 878.653 558.727 877.604 560.444C876.102 562.863 875.35 567.39 875.35 574.024L875.35 587.916L860.719 587.916L860.719 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M950.76 578.473L932.301 578.473L929.761 587.916L913.198 587.916L932.909 530.708L950.581 530.708L970.292 587.916L953.335 587.916L950.76 578.473ZM947.361 566.102L941.566 545.537L935.807 566.102L947.361 566.102Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M990.718 546.473L997.658 546.473L997.658 558.102L990.718 558.102L990.718 587.916L976.123 587.916L976.123 558.102L970.685 558.102L970.685 546.473L976.123 546.473L976.123 544.6C976.123 542.909 976.29 541.049 976.624 539.02C976.958 536.991 977.584 535.332 978.502 534.045C979.42 532.757 980.708 531.716 982.365 530.923C984.023 530.129 986.449 529.732 989.645 529.732C992.197 529.732 995.905 530.058 1000.77 530.708L999.161 540.308C997.42 539.996 996.013 539.84 994.939 539.84C993.628 539.84 992.686 540.08 992.113 540.561C991.541 541.043 991.136 541.804 990.897 542.844C990.778 543.417 990.718 544.626 990.718 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M1003.17 546.473L1016.8 546.473L1016.8 553.264C1018.11 550.324 1019.46 548.301 1020.86 547.195C1022.25 546.09 1023.98 545.537 1026.03 545.537C1028.17 545.537 1030.52 546.265 1033.07 547.722L1028.57 559.039C1026.85 558.259 1025.49 557.868 1024.49 557.868C1022.58 557.868 1021.1 558.727 1020.05 560.444C1018.55 562.863 1017.8 567.39 1017.8 574.024L1017.8 587.916L1003.17 587.916L1003.17 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M1036.08 530.708L1050.64 530.708L1050.64 541.518L1036.08 541.518L1036.08 530.708ZM1036.08 546.473L1050.64 546.473L1050.64 587.916L1036.08 587.916L1036.08 546.473Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M1088.27 571.722L1102.12 573.439C1101.35 576.587 1100.1 579.312 1098.36 581.614C1096.62 583.916 1094.39 585.705 1091.69 586.98C1088.98 588.255 1085.54 588.892 1081.37 588.892C1077.34 588.892 1073.98 588.482 1071.3 587.663C1068.61 586.843 1066.31 585.516 1064.37 583.682C1062.44 581.848 1060.93 579.695 1059.83 577.224C1058.73 574.752 1058.19 571.474 1058.19 567.39C1058.19 563.123 1058.85 559.572 1060.19 556.737C1061.17 554.655 1062.5 552.789 1064.2 551.137C1065.89 549.485 1067.63 548.256 1069.42 547.449C1072.26 546.174 1075.89 545.537 1080.33 545.537C1086.53 545.537 1091.26 546.747 1094.51 549.166C1097.77 551.586 1100.05 555.124 1101.36 559.78L1087.66 561.771C1087.23 560.002 1086.45 558.668 1085.32 557.771C1084.19 556.873 1082.67 556.424 1080.76 556.424C1078.35 556.424 1076.4 557.368 1074.91 559.254C1073.42 561.14 1072.67 563.995 1072.67 567.819C1072.67 571.227 1073.41 573.816 1074.89 575.585C1076.37 577.354 1078.25 578.239 1080.54 578.239C1082.45 578.239 1084.06 577.705 1085.36 576.639C1086.66 575.572 1087.63 573.933 1088.27 571.722Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
<path d="M1122.08 559.898L1108.16 558.298C1108.69 555.644 1109.44 553.556 1110.43 552.034C1111.42 550.512 1112.85 549.192 1114.71 548.073C1116.04 547.267 1117.88 546.643 1120.22 546.2C1122.55 545.758 1125.08 545.537 1127.8 545.537C1132.16 545.537 1135.67 545.804 1138.32 546.337C1140.96 546.87 1143.17 547.982 1144.94 549.673C1146.18 550.844 1147.15 552.503 1147.87 554.649C1148.58 556.795 1148.94 558.844 1148.94 560.795L1148.94 579.097C1148.94 581.048 1149.06 582.577 1149.28 583.682C1149.51 584.788 1150 586.199 1150.77 587.916L1137.1 587.916C1136.55 586.85 1136.2 586.037 1136.03 585.477C1135.86 584.918 1135.69 584.04 1135.53 582.843C1133.62 584.846 1131.72 586.277 1129.84 587.136C1127.26 588.281 1124.27 588.853 1120.86 588.853C1116.33 588.853 1112.89 587.708 1110.54 585.419C1108.19 583.129 1107.02 580.307 1107.02 576.951C1107.02 573.803 1107.86 571.214 1109.56 569.185C1111.25 567.156 1114.37 565.647 1118.93 564.658C1124.39 563.462 1127.93 562.623 1129.55 562.141C1131.17 561.66 1132.89 561.029 1134.7 560.249C1134.7 558.298 1134.33 556.932 1133.6 556.151C1132.86 555.371 1131.56 554.981 1129.7 554.981C1127.31 554.981 1125.52 555.397 1124.33 556.229C1123.4 556.88 1122.65 558.102 1122.08 559.898ZM1134.7 568.249C1132.7 569.029 1130.61 569.718 1128.44 570.317C1125.49 571.175 1123.61 572.021 1122.83 572.853C1122.02 573.712 1121.61 574.687 1121.61 575.78C1121.61 577.029 1122.01 578.05 1122.81 578.843C1123.61 579.637 1124.78 580.034 1126.33 580.034C1127.96 580.034 1129.46 579.604 1130.86 578.746C1132.25 577.887 1133.24 576.84 1133.83 575.604C1134.41 574.369 1134.7 572.762 1134.7 570.785L1134.7 568.249Z" fill="#363333" fill-rule="nonzero" opacity="1" stroke="none"/>
</g>
</g>
</svg>
          
        </div>
      </div>
      <!-- Our programs -->
      <!--Grid column-->
      <div class="col-lg-6  px-2 mb-lg-0">
        <div class="container d-flex justify-content-around">
          <div>
        <h5 class="footer-links-header mb-4">Nos Programmes</h5>

        <!-- <li>
                        <a href="/courses" class="useful-links">Our Courses</a>
                    </li> 
        <div class="my-3">
          <a href="/100bac" class="useful-links">Easy-Maths</a>
        </div>-->
        <div class="my-3">
          <a class=" useful-links" href="/englishlang4all/clubs/home"><i class="fa-solid fa-check-double mx-2 text-primary"></i>Natural English Clubs</a>
        </div>
        <div class="my-3">
          <a class="useful-links" href="/pecp"><i class="fa-solid text-primary fa-check-double mx-2"></i>Personal English Coaching Program</a>
        </div>

        <!-- Social media -->
        <div class="my-5">
          <h3 class="footer-links-header" class="mb-4 pb-3">Rejoignez nous</h3>
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-2"
            href="https://web.facebook.com/Afro-House-Of-Knowledge-104795908266730" id="facebook" role="button"
            target="_blank"><i class="fab fa-facebook-f"></i></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-2" href="https://twitter.com/afro__HK" id="twitter"
            target="_blank" role="button"><i class="fab fa-twitter"></i></a>

          <!-- Google -->
          <!-- <a
            class="btn btn-outline-light btn-floating m-2"
            href="#!"
            target="_blank"
            role="button"
            ><i class="fab fa-google"></i
          ></a> -->

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-2" href="https://www.instagram.com/afro_h_k/" role="button"
            id="instagram" target="_blank"><i class="fab fa-instagram"></i></a>

          <!-- Linkedin -->
          <!-- <a class="btn btn-outline-light btn-floating m-2" href="#!" target="_blank" role="button" id="linkedIn"><i -->
          <!-- class="fab fa-linkedin-in"></i></a> -->
          <!-- Youtube -->
          <a class="btn btn-outline-light btn-floating m-2"
            href="https://www.youtube.com/channel/UCoyOQOqSqRGjH8FrkvT4b0g" role="button" id="youtube"
            target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
       
        <!-- End Social media -->
      </div>
    </div>
      <!--Grid column-->

      <!--Send a Message-->
      <div class="col-lg-3">
        <!--Contact Us-->
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="col-8 col-md-6 col-lg-10 d-flex justify-content-center flex-column">
            <div class="contact-us py-3">
              <div class="">
                <a id="send-mail" class="" href="mailto:afrohouseofknowledge@gmail.com?">
                  <p>
                    <i class="fa mx-2 fa-envelope-o" id="mail-icon" style="color: rgb(255, 255, 255); "
                      aria-hidden="true"></i> afrohkteam@afrohk.com
                  </p>
                </a>
              </div>
              <hr class="m-0 p-0">
              <div class="bg-dark ps-3 py-2">
                <i class="fa mx-2 fa-phone" aria-hidden="true"></i> Appelez nous
              </div>
              <hr class="m-0 p-0">
              <div class="call ps-3 py-2">
                <button id="call-manager-2">
                  <i class="fa mx-2 fa-phone" style="color: rgb(255, 255, 255); " aria-hidden="true"></i> <span class="network">+22664350101</span>
                </button>
              </div>
              <div class="call ps-3 py-2">
                <button id="call-manager-2" class="">
                  <i class="fa mx-2 fa-phone" style="color: rgb(255, 255, 255); " aria-hidden="true"></i> <span class="network">+22653344444</span>
                </button>
              </div>
              <!--
              <div class="call py-2">
                <button id="call-manager-2" class="">
                
                    <span class="network">Telecel Faso</span>
                </button>
              </div> -->
              <div class="call ps-3 py-3">
                <button id="call-manager-2">
                  <a id="call-manager-link-3" class="text-success" href="https://wa.me/22653344444" target="_blank">
                    <i class="fa mx-2 fa-whatsapp" aria-hidden="true"></i>
                    <span class="">WhatsApp</span></a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Grid container -->
  <!-- <div class="container p-4">
    <section class="">
      <form action="/newsletter" method="POST">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>

          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input
                type="email"
                id="susbcribemail"
                name="email"
                class="form-control text-center"
                placeholder="Enter your email address"
              />
            </div>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
   -->
  <!--Copyright-->
  <div class="row made-by d-flex justify-content-center flex-wrap pt-3">
    <div class="col-12  d-flex justify-content-around col-sm-6 copyright-text">
      <p class="">Copyright &copy; 2020 Afro House of Knowledge. All right reserved</p>
    </div>
    <div class="col-12 d-flex justify-content-around col-sm-6 creator">
      <p class="px-5">
        Made with <i class="fas fa-heart"></i> by <span>Afrohk DEV Team</span>
      </p>
    </div>
  </div>
</footer>
<!-- End footer -->