<div id="tv-container">
	<div id="monitor">
	  <div class="afrohk-TV">
	    <h3 class="text-center afrohk-text mb-2 py-0">
	      <span class="afrohk">AfroHK</span
	      ><span class="tv">Radar</span>
	    </h3>
	  </div>
	  <div id="monitorscreen">
	    <iframe
	      id="vimeo-content"
	      src="https://player.vimeo.com/video/536620704?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
	      frameborder="0"
	      height="500px"
	      width="1000px"
	      allow="autoplay; fullscreen; picture-in-picture"
	      allow="fullscreen"
	      title="High-intensity Classes"
	    ></iframe>
	  </div>
	</div>
      </div>