<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="https://www.afrohk.com/favicon-32x32.png" sizes="32x32" />
  <!-- Bootstrap Css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!--animate css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <link href="/stylesheets/landingpage.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/9ecb022092.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Chango&family=Fondamento&family=Kaushan+Script&family=Merriweather:wght@900&family=Ultra&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Rye&family=Titan+One&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Poppins:wght@600;700;800;900&display=swap"
    rel="stylesheet" />
  <!-- <script type="text/javascript" src="/javascripts/warpspeed.js"></script> -->
  <title>Afro Language Lab</title>
</head>

<body>
  <a class="top-link top-btn-display" href="#"><i class="bi bi-arrow-up-circle-fill"></i></a>
  <!-- navbar -->
  <nav class="navbar p-0 navbar-light navbar-expand-lg">
    <!-- <div id="top-section" class="container-fluid"> -->
    <a class="navbar-brand" id="brand-name" href="/">
      <svg height="100%" width="100%" stroke-miterlimit="10"
        style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1"
        viewBox="0 0 1024 1024" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
        xmlns:vectornator="http://vectornator.io" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <clipPath id="TextBounds">
            <rect height="3.24967" width="0" x="833.038" y="832.71" />
          </clipPath>
        </defs>
        <g id="Layer-1" vectornator:layerName="Layer 1">
          <g opacity="1">
            <path
              d="M915.508 69.8221L108.492 69.8221C78.1552 69.8221 53.4678 95.0079 53.4678 125.957L53.4678 668.593C53.4678 699.542 78.1552 724.727 108.492 724.727L915.508 724.727C945.845 724.727 970.532 699.542 970.532 668.593L970.532 125.957C970.532 95.0079 945.845 69.8221 915.508 69.8221ZM878.826 612.458L145.174 612.458L145.174 163.38L878.826 163.38L878.826 612.458Z"
              fill="#000000" fill-rule="nonzero" opacity="1" stroke="none" />
            <g opacity="1">
              <path
                d="M348.487 438.977L313.163 438.977L311.598 446.29C310.405 451.165 310.48 455.218 311.821 458.45C313.163 461.681 315.994 463.297 320.317 463.297L326.689 463.297L326.689 526.393L257.047 526.393L257.047 463.297L261.63 463.297C266.995 463.297 270.591 461.681 272.417 458.45C274.243 455.218 276.013 450.485 277.727 444.249L300.643 358.193C302.282 351.617 302.562 346.77 301.481 343.652C300.4 340.534 297.14 338.975 291.7 338.975L289.352 338.975L289.352 275.879L404.267 275.879L404.267 338.975L402.032 338.975C396.517 338.975 393.219 340.619 392.139 343.907C391.058 347.195 391.375 351.957 393.089 358.193L416.005 444.249C416.899 447.423 417.7 450.173 418.408 452.497C419.116 454.821 419.992 456.806 421.035 458.45C422.078 460.094 423.476 461.312 425.227 462.106C426.978 462.9 429.233 463.297 431.99 463.297L436.573 463.297L436.573 526.393L334.961 526.393L334.961 463.297L341.109 463.297C345.357 463.297 348.207 461.681 349.66 458.45C351.114 455.218 351.244 451.165 350.052 446.29L348.487 438.977ZM318.864 412.446L342.674 412.446L331.495 360.234L330.601 360.234L318.864 412.446Z"
                fill="#31096d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M546.011 338.975C539.453 338.975 534.776 340.308 531.982 342.972C529.187 345.636 527.79 350.71 527.79 358.193L527.79 463.297L550.147 463.297C553.202 463.297 555.773 462.843 557.86 461.936C559.947 461.029 561.586 459.13 562.779 456.239C563.971 453.348 564.809 449.294 565.294 444.079C565.778 438.863 566.02 431.947 566.02 423.33L605.145 423.33L605.145 526.393L443.504 526.393L443.504 463.297C450.062 463.297 454.757 461.964 457.589 459.3C460.421 456.636 461.837 451.618 461.837 444.249L461.837 358.193C461.837 350.71 460.421 345.636 457.589 342.972C454.757 340.308 450.062 338.975 443.504 338.975L443.504 275.879L546.011 275.879L546.011 338.975Z"
                fill="#31096d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M716.818 338.975C710.26 338.975 705.584 340.308 702.789 342.972C699.995 345.636 698.597 350.71 698.597 358.193L698.597 463.297L720.954 463.297C724.01 463.297 726.581 462.843 728.668 461.936C730.754 461.029 732.394 459.13 733.586 456.239C734.778 453.348 735.617 449.294 736.101 444.079C736.586 438.863 736.828 431.947 736.828 423.33L775.953 423.33L775.953 526.393L614.311 526.393L614.311 463.297C620.87 463.297 625.565 461.964 628.396 459.3C631.228 456.636 632.644 451.618 632.644 444.249L632.644 358.193C632.644 350.71 631.228 345.636 628.396 342.972C625.565 340.308 620.87 338.975 614.311 338.975L614.311 275.879L716.818 275.879L716.818 338.975Z"
                fill="#31096d" fill-rule="nonzero" opacity="1" stroke="none" />
            </g>
            <g opacity="1">
              <path d="M783.427 868.481L821.834 868.481L821.834 893.858L783.427 893.858L783.427 868.481Z" fill="#ffffff"
                fill-rule="nonzero" opacity="1" stroke="#ffffff" stroke-linecap="butt" stroke-linejoin="round"
                stroke-width="0" />
              <g fill="#1e031d" opacity="1" stroke="none" />
              <path
                d="M54.2034 882.809L41.6267 882.809L41.0695 885.743C40.645 887.699 40.6715 889.325 41.1491 890.621C41.6267 891.918 42.635 892.566 44.1739 892.566L46.4425 892.566L46.4425 917.879L21.6472 917.879L21.6472 892.566L23.279 892.566C25.1894 892.566 26.4696 891.918 27.1197 890.621C27.7698 889.325 28.3999 887.426 29.0102 884.924L37.1691 850.399C37.7529 847.761 37.8524 845.817 37.4676 844.566C37.0829 843.315 35.9221 842.689 33.9852 842.689L33.1494 842.689L33.1494 817.376L74.0635 817.376L74.0635 842.689L73.2675 842.689C71.3041 842.689 70.13 843.349 69.7452 844.668C69.3605 845.987 69.4733 847.898 70.0835 850.399L78.2425 884.924C78.5609 886.198 78.8461 887.301 79.0982 888.233C79.3502 889.166 79.662 889.962 80.0335 890.621C80.4049 891.281 80.9024 891.77 81.526 892.088C82.1495 892.407 82.9521 892.566 83.9338 892.566L85.5656 892.566L85.5656 917.879L49.3877 917.879L49.3877 892.566L51.5767 892.566C53.089 892.566 54.1039 891.918 54.6213 890.621C55.1387 889.325 55.1852 887.699 54.7606 885.743L54.2034 882.809ZM43.6565 872.165L52.1338 872.165L48.1539 851.218L47.8355 851.218L43.6565 872.165Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M94.4808 842.689C94.0297 842.325 93.5455 841.791 93.0281 841.086C92.5107 840.381 92.0397 839.494 91.6152 838.425C91.1907 837.356 90.8258 836.128 90.5207 834.741C90.2156 833.353 90.063 831.773 90.063 829.999C90.063 826.814 90.5937 824.062 91.655 821.743C92.7163 819.423 94.1955 817.512 96.0927 816.011C97.9898 814.51 100.272 813.419 102.938 812.736C105.605 812.054 108.57 811.713 111.833 811.713C115.628 811.713 118.818 812.099 121.405 812.873C123.992 813.646 126.088 814.76 127.694 816.216C129.299 817.672 130.44 819.423 131.116 821.47C131.793 823.517 132.131 825.791 132.131 828.293C132.131 829.794 131.992 831.238 131.713 832.625C131.435 834.013 130.971 835.275 130.32 836.412C129.67 837.549 128.815 838.459 127.753 839.141C126.692 839.824 125.405 840.165 123.893 840.165C121.133 840.165 119.097 839.05 117.784 836.822C116.47 834.593 115.813 831.841 115.813 828.566C115.813 826.701 116.112 825.143 116.709 823.892C117.306 822.641 117.963 821.788 118.679 821.333L118.201 820.787C116.769 820.787 115.608 821.106 114.719 821.743C113.83 822.379 113.14 823.141 112.649 824.028C112.158 824.915 111.833 825.916 111.674 827.031C111.515 828.145 111.435 829.225 111.435 830.271C111.435 831.773 111.608 833.262 111.953 834.741C112.298 836.219 112.882 837.538 113.704 838.698C114.527 839.858 115.614 840.813 116.968 841.564C118.321 842.314 120.006 842.689 122.022 842.689L126.44 842.689L126.44 868.003L117.445 868.003L117.445 885.197C117.445 888.245 117.883 890.235 118.759 891.167C119.634 892.1 120.749 892.566 122.102 892.566L124.808 892.566L124.808 917.879L89.665 917.879L89.665 892.566L91.2172 892.566C92.6235 892.566 93.6649 891.804 94.3415 890.28C95.0181 888.756 95.3564 887.107 95.3564 885.333L95.3564 868.003L88.0332 868.003L88.0332 842.689L94.4808 842.689Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M156.568 842.689L155.892 861.453L156.568 861.453C157.497 854.266 159.043 848.83 161.205 845.146C163.368 841.461 166.173 839.619 169.623 839.619C171.666 839.619 173.424 840.176 174.896 841.291C176.369 842.405 177.556 843.895 178.458 845.76C179.36 847.625 180.01 849.774 180.408 852.208C180.806 854.641 181.005 857.154 181.005 859.747C181.005 861.885 180.82 864 180.448 866.092C180.077 868.185 179.48 870.073 178.657 871.756C177.835 873.439 176.773 874.792 175.473 875.815C174.173 876.839 172.568 877.35 170.657 877.35C168.004 877.35 165.915 876.191 164.389 873.871C162.863 871.551 162.101 868.753 162.101 865.478C162.101 863.886 162.207 862.533 162.419 861.419C162.631 860.304 162.85 859.394 163.076 858.689C163.301 857.984 163.454 857.473 163.533 857.154C163.613 856.836 163.52 856.677 163.255 856.677C162.698 856.677 162.094 857.768 161.444 859.952C160.794 862.135 160.469 865.569 160.469 870.254L160.469 885.879C160.469 888.29 160.714 890.007 161.205 891.031C161.696 892.054 162.644 892.566 164.051 892.566L166.439 892.566L166.439 917.879L132.927 917.879L132.927 892.566L135.276 892.566C136.363 892.566 137.193 891.963 137.763 890.758C138.333 889.552 138.619 888.108 138.619 886.425L138.619 873.461C138.619 871.323 138.254 869.879 137.524 869.129C136.795 868.378 135.965 868.003 135.037 868.003L132.927 868.003L132.927 842.689L156.568 842.689Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M183.473 880.148C183.473 873.461 184.15 867.593 185.503 862.544C186.856 857.495 188.786 853.276 191.294 849.888C193.801 846.499 196.819 843.94 200.348 842.212C203.877 840.483 207.817 839.619 212.169 839.619C216.52 839.619 220.46 840.483 223.989 842.212C227.518 843.94 230.53 846.499 233.024 849.888C235.518 853.276 237.448 857.495 238.815 862.544C240.181 867.593 240.864 873.461 240.864 880.148C240.864 886.743 240.181 892.589 238.815 897.683C237.448 902.778 235.518 907.042 233.024 910.476C230.53 913.911 227.518 916.492 223.989 918.22C220.46 919.949 216.52 920.813 212.169 920.813C207.817 920.813 203.877 919.949 200.348 918.22C196.819 916.492 193.801 913.911 191.294 910.476C188.786 907.042 186.856 902.778 185.503 897.683C184.15 892.589 183.473 886.743 183.473 880.148ZM206.119 880.148C206.119 883.969 206.219 887.21 206.418 889.871C206.617 892.532 206.942 894.67 207.393 896.284C207.844 897.899 208.454 899.082 209.223 899.832C209.993 900.583 210.975 900.958 212.169 900.958C213.363 900.958 214.338 900.583 215.094 899.832C215.85 899.082 216.46 897.899 216.925 896.284C217.389 894.67 217.714 892.532 217.9 889.871C218.086 887.21 218.178 883.969 218.178 880.148C218.178 872.506 217.76 867.15 216.925 864.08C216.089 861.009 214.504 859.474 212.169 859.474C210.975 859.474 209.993 859.827 209.223 860.532C208.454 861.237 207.844 862.397 207.393 864.011C206.942 865.626 206.617 867.764 206.418 870.425C206.219 873.086 206.119 876.327 206.119 880.148Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M329.498 842.689C327.163 842.689 325.498 843.224 324.503 844.293C323.508 845.362 323.011 847.397 323.011 850.399L323.011 892.566L330.971 892.566C332.059 892.566 332.974 892.384 333.717 892.02C334.46 891.656 335.044 890.894 335.468 889.734C335.893 888.574 336.191 886.948 336.364 884.856C336.536 882.763 336.622 879.989 336.622 876.532L350.552 876.532L350.552 917.879L293.002 917.879L293.002 892.566C295.337 892.566 297.008 892.031 298.017 890.962C299.025 889.893 299.529 887.881 299.529 884.924L299.529 850.399C299.529 847.397 299.025 845.362 298.017 844.293C297.008 843.224 295.337 842.689 293.002 842.689L293.002 817.376L329.498 817.376L329.498 842.689Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M375.069 852.173C373.716 852.173 372.555 852.344 371.587 852.685C370.618 853.026 369.789 853.424 369.099 853.879C368.409 854.334 367.839 854.846 367.388 855.414C366.937 855.983 366.539 856.495 366.194 856.95L366.592 857.632C367.096 857.177 367.646 856.722 368.243 856.267C368.84 855.812 369.603 855.585 370.532 855.585C372.097 855.585 373.45 856.461 374.591 858.212C375.732 859.963 376.303 862.749 376.303 866.57C376.303 870.209 375.434 873.132 373.696 875.338C371.958 877.544 369.63 878.647 366.711 878.647C363.925 878.647 361.703 877.271 360.045 874.519C358.386 871.767 357.557 867.866 357.557 862.817C357.557 860.043 358.008 857.279 358.91 854.527C359.812 851.775 361.212 849.308 363.109 847.124C365.006 844.941 367.421 843.144 370.353 841.734C373.285 840.324 376.82 839.619 380.959 839.619C385.895 839.619 389.928 840.415 393.058 842.007C396.189 843.599 398.624 845.646 400.362 848.148C402.1 850.65 403.294 853.493 403.944 856.677C404.594 859.861 404.919 863.068 404.919 866.297L404.919 892.975C404.919 897.115 404.998 899.923 405.158 901.402C405.317 902.88 405.914 903.619 406.949 903.619C407.771 903.619 408.348 902.948 408.68 901.606C409.012 900.264 409.177 897.956 409.177 894.681L409.177 886.152L413.715 886.152L413.715 894.817C413.715 898.911 413.516 902.539 413.118 905.7C412.72 908.862 411.963 911.568 410.849 913.82C409.735 916.071 408.222 917.777 406.312 918.937C404.401 920.097 401.96 920.677 398.989 920.677C396.309 920.677 394.087 920.188 392.322 919.21C390.558 918.232 389.158 917.015 388.123 915.559C387.089 914.104 386.352 912.591 385.914 911.022C385.477 909.453 385.258 908.054 385.258 906.826L384.621 906.826C384.462 908.691 384.004 910.465 383.248 912.148C382.492 913.831 381.444 915.321 380.104 916.617C378.764 917.913 377.158 918.96 375.288 919.756C373.417 920.552 371.288 920.95 368.9 920.95C366.618 920.95 364.542 920.574 362.671 919.824C360.801 919.073 359.209 917.891 357.895 916.276C356.582 914.661 355.56 912.569 354.831 909.999C354.101 907.429 353.736 904.37 353.736 900.822C353.736 896.455 354.453 893.009 355.886 890.485C357.318 887.96 359.123 885.959 361.298 884.481C363.474 883.002 365.842 881.797 368.403 880.864C370.963 879.932 373.331 878.806 375.507 877.487C377.682 876.168 379.487 874.462 380.92 872.37C382.352 870.277 383.069 867.321 383.069 863.5C383.069 860.088 382.445 857.348 381.198 855.278C379.951 853.208 377.908 852.173 375.069 852.173ZM383.069 881.717C382.485 883.173 381.755 884.344 380.88 885.231C380.004 886.118 379.162 886.982 378.352 887.824C377.543 888.665 376.84 889.666 376.243 890.826C375.646 891.986 375.348 893.544 375.348 895.5C375.348 897.001 375.586 898.354 376.064 899.559C376.542 900.765 377.47 901.368 378.85 901.368C380.097 901.368 381.112 900.537 381.895 898.877C382.677 897.217 383.069 894.886 383.069 891.884L383.069 881.717Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M453.037 874.28C453.037 872.506 452.911 871.085 452.659 870.016C452.407 868.947 452.088 868.128 451.703 867.559C451.319 866.991 450.887 866.616 450.41 866.434C449.932 866.252 449.468 866.161 449.017 866.161C447.292 866.161 446.005 867.025 445.156 868.753C444.307 870.482 443.883 872.938 443.883 876.122L443.883 885.879C443.883 888.29 444.128 890.007 444.619 891.031C445.11 892.054 446.058 892.566 447.465 892.566L449.614 892.566L449.614 917.879L416.341 917.879L416.341 892.566L418.689 892.566C419.777 892.566 420.607 891.963 421.177 890.758C421.747 889.552 422.033 888.108 422.033 886.425L422.033 873.461C422.033 871.323 421.668 869.879 420.938 869.129C420.209 868.378 419.379 868.003 418.451 868.003L416.341 868.003L416.341 842.689L439.982 842.689L439.147 861.453L439.823 861.453C440.407 854.448 442.198 849.058 445.196 845.282C448.194 841.507 452.267 839.619 457.415 839.619C461.05 839.619 464.008 840.506 466.29 842.28C468.572 844.054 470.343 846.294 471.603 849.001C472.864 851.707 473.719 854.641 474.17 857.802C474.621 860.964 474.847 863.932 474.847 866.706L474.847 885.879C474.847 888.29 475.092 890.007 475.583 891.031C476.074 892.054 477.023 892.566 478.429 892.566L480.578 892.566L480.578 917.879L453.037 917.879L453.037 874.28Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M541.432 930.297C541.432 938.03 538.838 943.943 533.651 948.037C528.464 952.131 520.962 954.178 511.144 954.178C507.589 954.178 504.126 954.087 500.757 953.905C497.387 953.723 494.402 953.12 491.802 952.097C489.201 951.073 487.112 949.447 485.533 947.218C483.954 944.989 483.165 941.828 483.165 937.734C483.165 934.459 483.775 931.776 484.996 929.683C486.216 927.591 487.53 925.93 488.936 924.702C487.211 922.928 486.037 920.95 485.414 918.766C484.79 916.583 484.478 914.195 484.478 911.602C484.478 908.509 485.129 905.541 486.429 902.698C487.729 899.855 489.599 897.092 492.04 894.408C489.652 891.724 487.822 888.449 486.548 884.583C485.274 880.716 484.638 876.122 484.638 870.8C484.638 865.66 485.261 861.157 486.508 857.291C487.755 853.424 489.546 850.195 491.881 847.602C494.216 845.009 497.002 843.031 500.239 841.666C503.476 840.301 507.111 839.619 511.144 839.619C515.469 839.619 519.376 840.415 522.865 842.007C526.354 843.599 529.32 846.01 531.761 849.24C532.238 848.148 532.888 847.079 533.711 846.033C534.401 845.214 535.276 844.452 536.338 843.747C537.399 843.042 538.699 842.689 540.238 842.689L543.899 842.689L543.899 868.003L541.273 868.003C540.132 868.003 539.263 868.537 538.666 869.606C538.069 870.675 537.717 871.71 537.611 872.711C536.682 882.309 533.976 889.632 529.492 894.681C525.008 899.73 518.892 902.255 511.144 902.255C506.793 902.255 502.853 901.459 499.324 899.866C498.767 900.503 498.488 901.299 498.488 902.255C498.488 904.029 499.098 905.279 500.319 906.007C501.539 906.735 503.158 907.224 505.174 907.474C507.191 907.724 509.486 907.815 512.06 907.747C514.633 907.679 517.267 907.747 519.96 907.952C522.653 908.156 525.293 908.577 527.88 909.214C530.467 909.851 532.762 910.988 534.765 912.626C536.769 914.263 538.381 916.503 539.601 919.346C540.822 922.189 541.432 925.839 541.432 930.297ZM505.572 870.8C505.572 875.531 505.957 879.181 506.727 881.751C507.496 884.321 508.969 885.606 511.144 885.606C513.347 885.606 514.832 884.321 515.602 881.751C516.371 879.181 516.756 875.531 516.756 870.8C516.756 866.115 516.371 862.544 515.602 860.088C514.832 857.632 513.347 856.404 511.144 856.404C508.969 856.404 507.496 857.632 506.727 860.088C505.957 862.544 505.572 866.115 505.572 870.8ZM512.935 931.321C510.096 931.321 507.523 931.196 505.214 930.945C502.906 930.695 500.823 930.343 498.966 929.888C498.7 930.661 498.568 931.457 498.568 932.276C498.568 935.551 499.602 937.7 501.672 938.724C503.742 939.747 506.461 940.259 509.831 940.259C514.342 940.259 517.638 939.793 519.721 938.86C521.804 937.928 522.845 936.62 522.845 934.937C522.845 934.073 522.547 933.413 521.95 932.958C521.353 932.503 520.57 932.139 519.602 931.867C518.633 931.594 517.565 931.434 516.398 931.389C515.23 931.343 514.076 931.321 512.935 931.321Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M604.037 887.107C604.037 889.291 604.402 890.746 605.131 891.474C605.861 892.202 606.69 892.566 607.619 892.566L609.728 892.566L609.728 917.879L586.087 917.879L586.087 899.184L585.45 899.184C584.84 906.144 583.182 911.42 580.475 915.014C577.769 918.607 573.829 920.404 568.655 920.404C565.02 920.404 562.061 919.517 559.78 917.743C557.498 915.969 555.733 913.729 554.486 911.022C553.239 908.316 552.383 905.382 551.919 902.22C551.455 899.059 551.223 896.091 551.223 893.316L551.223 874.689C551.223 872.279 550.977 870.562 550.486 869.538C549.995 868.515 549.047 868.003 547.641 868.003L545.253 868.003L545.253 842.689L573.073 842.689L573.073 885.743C573.073 887.517 573.192 888.938 573.431 890.007C573.67 891.076 573.981 891.895 574.366 892.463C574.751 893.032 575.189 893.407 575.68 893.589C576.17 893.771 576.628 893.862 577.053 893.862C578.804 893.862 580.097 892.998 580.933 891.269C581.769 889.541 582.187 887.085 582.187 883.901L582.187 874.689C582.187 872.279 581.941 870.562 581.451 869.538C580.96 868.515 580.011 868.003 578.605 868.003L576.257 868.003L576.257 842.689L604.037 842.689L604.037 887.107Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M634.245 852.173C632.892 852.173 631.731 852.344 630.762 852.685C629.794 853.026 628.965 853.424 628.275 853.879C627.585 854.334 627.015 854.846 626.564 855.414C626.113 855.983 625.715 856.495 625.37 856.95L625.768 857.632C626.272 857.177 626.822 856.722 627.419 856.267C628.016 855.812 628.779 855.585 629.708 855.585C631.273 855.585 632.626 856.461 633.767 858.212C634.908 859.963 635.479 862.749 635.479 866.57C635.479 870.209 634.61 873.132 632.872 875.338C631.134 877.544 628.806 878.647 625.887 878.647C623.101 878.647 620.879 877.271 619.221 874.519C617.562 871.767 616.733 867.866 616.733 862.817C616.733 860.043 617.184 857.279 618.086 854.527C618.988 851.775 620.388 849.308 622.285 847.124C624.182 844.941 626.597 843.144 629.529 841.734C632.461 840.324 635.996 839.619 640.135 839.619C645.07 839.619 649.103 840.415 652.234 842.007C655.365 843.599 657.8 845.646 659.538 848.148C661.276 850.65 662.47 853.493 663.12 856.677C663.77 859.861 664.095 863.068 664.095 866.297L664.095 892.975C664.095 897.115 664.174 899.923 664.334 901.402C664.493 902.88 665.09 903.619 666.125 903.619C666.947 903.619 667.524 902.948 667.856 901.606C668.187 900.264 668.353 897.956 668.353 894.681L668.353 886.152L672.89 886.152L672.89 894.817C672.89 898.911 672.691 902.539 672.293 905.7C671.895 908.862 671.139 911.568 670.025 913.82C668.91 916.071 667.398 917.777 665.488 918.937C663.577 920.097 661.136 920.677 658.165 920.677C655.485 920.677 653.263 920.188 651.498 919.21C649.734 918.232 648.334 917.015 647.299 915.559C646.264 914.104 645.528 912.591 645.09 911.022C644.653 909.453 644.434 908.054 644.434 906.826L643.797 906.826C643.638 908.691 643.18 910.465 642.424 912.148C641.668 913.831 640.62 915.321 639.28 916.617C637.94 917.913 636.334 918.96 634.464 919.756C632.593 920.552 630.464 920.95 628.076 920.95C625.794 920.95 623.718 920.574 621.847 919.824C619.977 919.073 618.385 917.891 617.071 916.276C615.758 914.661 614.736 912.569 614.007 909.999C613.277 907.429 612.912 904.37 612.912 900.822C612.912 896.455 613.629 893.009 615.061 890.485C616.494 887.96 618.298 885.959 620.474 884.481C622.65 883.002 625.018 881.797 627.578 880.864C630.139 879.932 632.507 878.806 634.683 877.487C636.858 876.168 638.663 874.462 640.095 872.37C641.528 870.277 642.245 867.321 642.245 863.5C642.245 860.088 641.621 857.348 640.374 855.278C639.127 853.208 637.084 852.173 634.245 852.173ZM642.245 881.717C641.661 883.173 640.931 884.344 640.056 885.231C639.18 886.118 638.338 886.982 637.528 887.824C636.719 888.665 636.016 889.666 635.419 890.826C634.822 891.986 634.524 893.544 634.524 895.5C634.524 897.001 634.762 898.354 635.24 899.559C635.718 900.765 636.646 901.368 638.026 901.368C639.273 901.368 640.288 900.537 641.071 898.877C641.853 897.217 642.245 894.886 642.245 891.884L642.245 881.717Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M732.311 930.297C732.311 938.03 729.718 943.943 724.531 948.037C719.343 952.131 711.841 954.178 702.024 954.178C698.468 954.178 695.006 954.087 691.636 953.905C688.266 953.723 685.281 953.12 682.681 952.097C680.081 951.073 677.991 949.447 676.413 947.218C674.834 944.989 674.045 941.828 674.045 937.734C674.045 934.459 674.655 931.776 675.875 929.683C677.096 927.591 678.409 925.93 679.816 924.702C678.091 922.928 676.917 920.95 676.293 918.766C675.67 916.583 675.358 914.195 675.358 911.602C675.358 908.509 676.008 905.541 677.308 902.698C678.608 899.855 680.479 897.092 682.92 894.408C680.532 891.724 678.701 888.449 677.428 884.583C676.154 880.716 675.517 876.122 675.517 870.8C675.517 865.66 676.141 861.157 677.388 857.291C678.635 853.424 680.426 850.195 682.761 847.602C685.096 845.009 687.882 843.031 691.119 841.666C694.356 840.301 697.991 839.619 702.024 839.619C706.349 839.619 710.256 840.415 713.745 842.007C717.234 843.599 720.199 846.01 722.64 849.24C723.118 848.148 723.768 847.079 724.59 846.033C725.28 845.214 726.156 844.452 727.217 843.747C728.278 843.042 729.579 842.689 731.117 842.689L734.779 842.689L734.779 868.003L732.152 868.003C731.011 868.003 730.142 868.537 729.545 869.606C728.948 870.675 728.597 871.71 728.491 872.711C727.562 882.309 724.856 889.632 720.372 894.681C715.887 899.73 709.772 902.255 702.024 902.255C697.672 902.255 693.732 901.459 690.203 899.866C689.646 900.503 689.368 901.299 689.368 902.255C689.368 904.029 689.978 905.279 691.198 906.007C692.419 906.735 694.037 907.224 696.054 907.474C698.07 907.724 700.366 907.815 702.939 907.747C705.513 907.679 708.146 907.747 710.84 907.952C713.533 908.156 716.173 908.577 718.76 909.214C721.347 909.851 723.642 910.988 725.645 912.626C727.648 914.263 729.26 916.503 730.481 919.346C731.701 922.189 732.311 925.839 732.311 930.297ZM696.452 870.8C696.452 875.531 696.837 879.181 697.606 881.751C698.376 884.321 699.848 885.606 702.024 885.606C704.226 885.606 705.712 884.321 706.481 881.751C707.251 879.181 707.636 875.531 707.636 870.8C707.636 866.115 707.251 862.544 706.481 860.088C705.712 857.632 704.226 856.404 702.024 856.404C699.848 856.404 698.376 857.632 697.606 860.088C696.837 862.544 696.452 866.115 696.452 870.8ZM703.815 931.321C700.976 931.321 698.402 931.196 696.094 930.945C693.785 930.695 691.702 930.343 689.845 929.888C689.58 930.661 689.447 931.457 689.447 932.276C689.447 935.551 690.482 937.7 692.552 938.724C694.621 939.747 697.341 940.259 700.71 940.259C705.221 940.259 708.518 939.793 710.601 938.86C712.684 937.928 713.725 936.62 713.725 934.937C713.725 934.073 713.427 933.413 712.83 932.958C712.233 932.503 711.45 932.139 710.481 931.867C709.513 931.594 708.445 931.434 707.277 931.389C706.11 931.343 704.956 931.321 703.815 931.321Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M759.933 884.515C760.039 891.292 760.788 895.966 762.181 898.536C763.574 901.106 765.571 902.391 768.171 902.391C769.047 902.391 769.902 902.175 770.738 901.743C771.574 901.311 772.35 900.606 773.066 899.628C773.783 898.65 774.4 897.353 774.917 895.739C775.435 894.124 775.773 892.088 775.932 889.632L790.419 889.632C789.888 895.5 788.913 900.412 787.494 904.37C786.074 908.327 784.25 911.522 782.021 913.956C779.793 916.39 777.199 918.141 774.241 919.21C771.282 920.279 767.985 920.813 764.35 920.813C760.609 920.813 757.093 919.994 753.803 918.357C750.513 916.719 747.628 914.229 745.147 910.886C742.666 907.542 740.722 903.335 739.316 898.263C737.91 893.191 737.207 887.153 737.207 880.148C737.207 873.461 737.87 867.593 739.197 862.544C740.524 857.495 742.387 853.276 744.789 849.888C747.19 846.499 750.029 843.94 753.306 842.212C756.583 840.483 760.185 839.619 764.111 839.619C768.941 839.619 773.093 840.711 776.569 842.894C780.045 845.077 782.884 848.125 785.086 852.037C787.288 855.949 788.907 860.657 789.942 866.161C790.976 871.665 791.467 877.783 791.414 884.515L759.933 884.515ZM765.823 858.041C763.966 858.041 762.592 859.167 761.704 861.419C760.815 863.67 760.224 867.389 759.933 872.574L771.594 872.574C771.435 868.117 770.877 864.58 769.922 861.964C768.967 859.349 767.601 858.041 765.823 858.041Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M855.691 842.689C853.356 842.689 851.691 843.224 850.696 844.293C849.701 845.362 849.203 847.397 849.203 850.399L849.203 892.566L857.163 892.566C858.251 892.566 859.167 892.384 859.909 892.02C860.652 891.656 861.236 890.894 861.661 889.734C862.085 888.574 862.384 886.948 862.556 884.856C862.729 882.763 862.815 879.989 862.815 876.532L876.745 876.532L876.745 917.879L819.194 917.879L819.194 892.566C821.529 892.566 823.201 892.031 824.209 890.962C825.217 889.893 825.721 887.881 825.721 884.924L825.721 850.399C825.721 847.397 825.217 845.362 824.209 844.293C823.201 843.224 821.529 842.689 819.194 842.689L819.194 817.376L855.691 817.376L855.691 842.689Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M901.261 852.173C899.908 852.173 898.747 852.344 897.779 852.685C896.81 853.026 895.981 853.424 895.291 853.879C894.602 854.334 894.031 854.846 893.58 855.414C893.129 855.983 892.731 856.495 892.386 856.95L892.784 857.632C893.288 857.177 893.839 856.722 894.436 856.267C895.033 855.812 895.796 855.585 896.724 855.585C898.29 855.585 899.643 856.461 900.784 858.212C901.925 859.963 902.495 862.749 902.495 866.57C902.495 870.209 901.626 873.132 899.888 875.338C898.15 877.544 895.822 878.647 892.903 878.647C890.117 878.647 887.895 877.271 886.237 874.519C884.579 871.767 883.75 867.866 883.75 862.817C883.75 860.043 884.201 857.279 885.103 854.527C886.005 851.775 887.404 849.308 889.302 847.124C891.199 844.941 893.613 843.144 896.545 841.734C899.477 840.324 903.013 839.619 907.152 839.619C912.087 839.619 916.12 840.415 919.251 842.007C922.382 843.599 924.816 845.646 926.554 848.148C928.292 850.65 929.486 853.493 930.136 856.677C930.786 859.861 931.111 863.068 931.111 866.297L931.111 892.975C931.111 897.115 931.191 899.923 931.35 901.402C931.509 902.88 932.106 903.619 933.141 903.619C933.964 903.619 934.541 902.948 934.872 901.606C935.204 900.264 935.37 897.956 935.37 894.681L935.37 886.152L939.907 886.152L939.907 894.817C939.907 898.911 939.708 902.539 939.31 905.7C938.912 908.862 938.156 911.568 937.041 913.82C935.927 916.071 934.415 917.777 932.504 918.937C930.594 920.097 928.153 920.677 925.181 920.677C922.501 920.677 920.279 920.188 918.515 919.21C916.75 918.232 915.351 917.015 914.316 915.559C913.281 914.104 912.545 912.591 912.107 911.022C911.669 909.453 911.45 908.054 911.45 906.826L910.813 906.826C910.654 908.691 910.196 910.465 909.44 912.148C908.684 913.831 907.636 915.321 906.296 916.617C904.956 917.913 903.351 918.96 901.48 919.756C899.61 920.552 897.48 920.95 895.092 920.95C892.811 920.95 890.734 920.574 888.864 919.824C886.993 919.073 885.401 917.891 884.088 916.276C882.774 914.661 881.753 912.569 881.023 909.999C880.294 907.429 879.929 904.37 879.929 900.822C879.929 896.455 880.645 893.009 882.078 890.485C883.511 887.96 885.315 885.959 887.491 884.481C889.666 883.002 892.034 881.797 894.595 880.864C897.155 879.932 899.523 878.806 901.699 877.487C903.875 876.168 905.679 874.462 907.112 872.37C908.545 870.277 909.261 867.321 909.261 863.5C909.261 860.088 908.638 857.348 907.391 855.278C906.144 853.208 904.1 852.173 901.261 852.173ZM909.261 881.717C908.677 883.173 907.948 884.344 907.072 885.231C906.197 886.118 905.354 886.982 904.545 887.824C903.736 888.665 903.032 889.666 902.435 890.826C901.838 891.986 901.54 893.544 901.54 895.5C901.54 897.001 901.779 898.354 902.256 899.559C902.734 900.765 903.663 901.368 905.042 901.368C906.289 901.368 907.304 900.537 908.087 898.877C908.87 897.217 909.261 894.886 909.261 891.884L909.261 881.717Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M968.045 895.636C968.47 896.864 969.292 897.831 970.513 898.536C971.733 899.241 972.861 899.594 973.896 899.594C975.09 899.594 976.058 899.082 976.801 898.058C977.544 897.035 978.135 895.659 978.572 893.93C979.01 892.202 979.309 890.2 979.468 887.926C979.627 885.652 979.707 883.286 979.707 880.83C979.707 878.419 979.627 876.122 979.468 873.939C979.309 871.756 979.01 869.845 978.572 868.208C978.135 866.57 977.531 865.285 976.762 864.353C975.992 863.42 975.01 862.954 973.816 862.954C972.622 862.954 971.661 863.42 970.931 864.353C970.201 865.285 969.617 866.57 969.18 868.208C968.742 869.845 968.443 871.756 968.284 873.939C968.125 876.122 968.045 878.419 968.045 880.83L968.045 895.636ZM982.97 840.301C989.046 840.301 993.796 843.679 997.219 850.434C1000.64 857.188 1002.35 867.093 1002.35 880.148C1002.35 893.203 1000.56 903.13 996.98 909.93C993.398 916.731 988.476 920.131 982.214 920.131C979.985 920.131 978.028 919.778 976.344 919.073C974.659 918.368 973.153 917.459 971.826 916.344C970.5 915.23 969.292 913.945 968.205 912.489C967.117 911.034 966.055 909.578 965.021 908.122L964.463 908.122L963.07 917.879L946.195 917.879L946.195 850.399C946.195 847.761 945.704 845.817 944.723 844.566C943.741 843.315 942.627 842.689 941.38 842.689L940.504 842.689L940.504 817.376L968.045 817.376L968.045 843.372L968.045 855.858L968.682 855.858C969.08 853.902 969.631 851.991 970.334 850.127C971.037 848.262 971.959 846.601 973.1 845.146C974.241 843.69 975.627 842.519 977.259 841.632C978.891 840.745 980.795 840.301 982.97 840.301Z"
                fill="#1e031d" fill-rule="nonzero" opacity="1" stroke="none" />
            </g>
            <path d="M28.9196 753.88L535.162 753.88L554.77 753.88L593.57 753.88L995.08 753.88" fill="none" opacity="1"
              stroke="#000000" stroke-linecap="round" stroke-linejoin="miter" stroke-width="24.1" />
            <g opacity="1">
              <path
                d="M471.555 665.752C471.555 643.844 489.663 626.083 512 626.083C534.337 626.083 552.445 643.844 552.445 665.752C552.445 687.661 534.337 705.421 512 705.421C489.663 705.421 471.555 687.661 471.555 665.752Z"
                fill="#ffffff" fill-rule="nonzero" opacity="1" stroke="#1a1818" stroke-linecap="butt"
                stroke-linejoin="round" stroke-width="0" />
              <path
                d="M493.406 689.885C492.865 689.885 492.427 690.317 492.427 690.85C492.427 691.383 492.865 691.815 493.406 691.815C493.946 691.815 494.384 691.383 494.384 690.85C494.384 690.317 493.946 689.885 493.406 689.885Z"
                fill="#3f069e" fill-rule="nonzero" opacity="1" stroke="none" />
              <path
                d="M513.957 643.55C499.904 643.55 488.512 653.058 488.512 664.787C488.512 671.289 492.024 677.102 497.539 680.998C497.68 683.966 497.213 688.064 493.057 689.951L493.406 691.815C498.207 691.815 502.282 689.259 505.089 686.56C505.973 685.709 507.207 685.288 508.422 685.514C510.203 685.848 512.055 686.024 513.957 686.024C528.011 686.024 539.402 676.515 539.402 664.787C539.402 653.058 528.011 643.55 513.957 643.55Z"
                fill="#3f069e" fill-rule="nonzero" opacity="1" stroke="none" />
            </g>
          </g>
        </g>
      </svg>
      <!-- <h1 class="brand">
        <span class="text-dark">Afro </span>House of Knowledge
      </h1> -->
      <!-- <img src="https://i.ibb.co/nB7zHTr/afroHK.jpg" alt="afroHK" alt="" -->
      <!-- class="logo-navbar img-fluid" /> -->
      <!-- <img src="../images/logo_Afrohk.jpeg" alt="" width="50" height="50"> -->
      <!-- <span class="afro ms-2">Afro</span><span class="hk">HK</span> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <!-- <a class="nav-link active" aria-current="page" href="/">Acceuil</a>
                            -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#apropos"><span class="myNav-link">À
              Propos</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#news-section"><span
              class="myNav-link">Actualités</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="myNav-link"> Programmes </span>
          </a>
          <ul class="dropdown-menu mx-2" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/englishlang4all/clubs/Burkina-Faso/hubs">Natural English for Professionals</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pecp">Personal English Coaching Program</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link m-0" id="drop-down-contact" href="#footer"><span class="myNav-link">Contacts</span></a>
        </li>
      </ul>
      <div class="navbar-nav ms-auto">
        <% if(typeof currentUser !=undefined){%>
          <% if (!currentUser) {%>
            <a class="nav-link-connexion me-2 my-2" href="/login">Connexion</a>
            <%} else { %>
              <h3 id="user" class="my-1 mx-2 align-self-center">
                <a class="profile-link btn" href="/user/<%= currentUser._id%>">
                  <i class="bi bi-person-circle"></i>
                  <%=currentUser.username%>
                </a>
              </h3>
              <a class="my-1 mx-2 btn btn-danger text-white" href="/logout">Deconnexion</a>
              <%}%>
                <%}%>
      </div>
    </div>
    <!-- </div> -->
  </nav>
  <!--End Navbar-->

  <!-- banner -->
  <section class="showcase">
    <div class="video-container">
      <!-- <video src="/video/online class 1.mp4" autoplay muted loop></video> -->
    </div>
    <div class="content">
      <div class="banner-heading">
        <h1 class="afrohk-title"><span class="afro-title">Afro Language Lab </h1>
        <h3 class="slogan">Apprenez l'Anglais autrement</h3>
        <p style="text-align: start;"><a href="#apropos" class="more-btn">En Savoir Plus</a></p>
      </div>
    </div>
  </section>
  <!-- End banner -->
  <!--  About us-->
  <main id="site-content" class="">
    <section class="mission " id="apropos">
      <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle mediun shade4"></div>
        <div class="circle small shade5"></div>
      </div>

      <div class="section-title container">
        <h2>À Propos</h2>
        <p>Tout Savoir du Language Lab</p>
      </div>
      <div class="row d-flex align-items-center m-0 p-0">
        <div class="col-lg-4 py-5">
          <div class="presentation-text-wrapper" data-aos="fade-up" data-aos-duration="500">
            <h3 class="presentation-heading">MISSION</h3>
            <p class="presentation-paragraph">
              Notre mission est de vous amenez à parler naturellement l'Anglais en 6 mois.
            </p>

            <% if (!currentUser) {%>
              <a class="start-btn-1" href="#footer"> Appelez-nous</a>
              <%} %>

          </div>
        </div>
        <div class="col-lg-8 py-5">
          <div id="tv-container">
            <div id="monitor">
              <div class="afrohk-TV">
                <h3 class="text-center afrohk-text mb-2 py-0">
                  <span class="afrohk">Afro</span><span class="tv"> Language Lab</span>
                </h3>
              </div>
              <div id="monitorscreen">
                <iframe loading="lazy" id="vimeo-content" src="https://www.youtube.com/embed/MeBBb4o0C2w"
                  frameborder="0" height="100%" width="100%" allow="autoplay; fullscreen; picture-in-picture"
                  allow="fullscreen" title="High-intensity Classes"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End  About us -->

    <!--Programmes section-->
    <div class="program-section-wrapper" data-aos="fade-up" data-aos-easing="linear">
      <div class="section-title  container">
        <h2>Nos Programmes</h2>
        <p>Anglais pour tous</p>
      </div>
      <div class="container">
        <div class="row">
          <!-- Personal English Coaching Program -->
          <div class="col-lg-6 mt-5 mb-2">
            <div class="d-flex mb-2 my-card-wrapper justify-content-center flex-column">
              <div class="my-card">
                <div class="img-wrapper m-2">
                  <img class="program-image"
                    src="https://4953540.fs1.hubspotusercontent-na1.net/hubfs/4953540/7-benefits-of-executive-coaching.webp"
                    alt="pecp-img" />
                </div>
                <div class="card-body d-flex flex-column align-items-start ms-3">
                  <h3 class="program-name">Programme de Coaching Personalisé</h3>
                  <p class="program-description">
                    Programme de coaching en Anglais, personalisé selon les besoins de l'apprenant. Il est axé sur l'apprentissage
                    naturel et
                    se déroule en ligne et en présentiel.
                  </p>

                  <a href="/pecp" class="course-btn">En Savoir Plus</a>

                </div>
              </div>
            </div>
          </div>

          <!-- English  club for all-->
          <div class="col-lg-6 mt-5 mb-2">
            <div class="d-flex mb-2 my-card-wrapper justify-content-center flex-column">
              <div class="my-card">
                <div class="img-wrapper m-2">
                  <img class="program-image" src="https://news.sap.com/africa/files/2018/05/training.jpg"
                    alt="English at work" />
                </div>
                <div class="card-body d-flex flex-column align-items-start ms-3">
                  <h3 class="program-name">Anglais Naturel pour Professionnels</h3>
                  <p class="program-description">
                    Un programme pratique et efficace pour l'amélioration continue du niveau d'Anglais des cadres
                    d'entreprise dans des clubs.
                  </p>
                  <!-- <a href="/englishlang4all/clubs/home" class="course-btn"> En Savoir Plus </a> -->

                  <a href="/englishlang4all/clubs/BurkinaFaso/hubs" class="course-btn">En Savoir Plus</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--SECTION 2 Why learn with us-->
    <div class="learn-line-top">
      <h1 class="why-join-us" data-aos="fade-up" data-aos-easing="linear">À Afro Language Lab </h1>
    </div>
    <section class="learn-section">
      <div class="hero flexbox-container-center">
        <article class="flexbox-item-center">
          <div class="inline-block group">
            <h1 class="hero-tagline study">Apprenez</h1>
            <ul class="word-slider">
              <li>À tout moment</li>
              <li>En tout lieu</li>
              <li>À votre rythme</li>
              <li>Pour la compétence</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- <div class="d-flex my-4 justify-content-center">
      <a class="start-learning-btn" href="/login"> Se Connecter </a>
    </div> -->
    </section>
    <div class="learn-line-bottom">
    </div>


    <!-- Access-->
    <div class="row" id="access-wrapper">
      <div class="col-md-4" data-aos="fade-up" data-aos-easing="linear">
        <div class="d-flex acc-text-wrapper align-items-center justify-content-center">
          <p class="accessibility-text animate__animated animate__bounce">
            Accessible sur tous <br /> les supports digitaux
          </p>
        </div>
      </div>
      <div class="col-md-8" data-aos="fade-up" data-aos-easing="linear">
        <div>
          <img src="https://i.ibb.co/7WPSg5q/ads-1.png" class="img-fluid" alt="accessible" />
        </div>
      </div>
    </div>

    <!-- Customers section -->
    <div class="learn-line-top">
      <h1 class="why-join-us">Temoignages</h1>
    </div>

    <div class="customer-section">
      <div class="container custumer-container">
        <div id="customers-cards" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- Customer review 1 -->
            <div class="carousel-item active">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-md-4 align-self-center">
                    <img src="https://i.ibb.co/n12TT1P/Auguste.jpg" class="img-fluid" alt="Auguste">
                  </div>
                  <div class="col-md-8 ps-5 align-self-center">
                    <h4 id="image-caption" class="customer-fullname">
                      Auguste KABORE <span class="customer-job ms-2">Étudiant en Commerce Internationale</span>
                    </h4>
                    <hr />
                    <h4 class="customer-paragraph-1 py-3">
                      C’est tout juste waouh !!!
                    </h4>
                    <p>
                      J'ai beaucoup progressé en anglais avec le centre Afro Language Lab, car ils utilisent une
                      méthodologie d'apprentissage tres éfficace. Une formation pratique qui m'a
                      permis de beaucoup comprendre les bases et les fondements de l'Anglais et je
                      m'exprime mieux maintenant.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- customer review 2 -->
            <div class="carousel-item">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-md-4 align-self-center">
                    <img src="https://i.ibb.co/McmgWbN/18fd6aaa-331f-49e6-9776-b71c8fad6d14.jpg" alt="Dina"
                      class="img-fluid" />
                  </div>
                  <div class="col-md-8 ps-5 align-self-center">
                    <h2 id="image-caption" class="customer-fullname">
                      Dina BADINI <span class="ms-2 customer-job">Étudiante en Medecine</span>
                    </h2>

                    <hr />
                    <h4 class="customer-paragraph-1 py-3">
                      Tout simplement le meilleur
                    </h4>
                    <p>
                      C'est une bonne innitiative... On apprend beaucoup. Personne n'est mis à l'écart
                      au cours de la formation. On apprend rapidement et c'est intéressant.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#customers-cards" data-bs-slide="prev">
            <i class="fas carousel-button fa-arrow-left"></i>
          </a>
          <a class="carousel-control-next" href="#customers-cards" data-bs-slide="next">
            <i class="fas carousel-button fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- end customers section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts " data-aos="fade-up" data-aos-easing="linear">
      <div class="section-title  container">
        <h2>Statistiques</h2>
        <p>Nos services en Chiffre</p>
      </div>
      <div class="container mt-5 ">
        <div class="row">
          <div class="col-lg-3 mt-5 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="2"
                class="purecounter">0</span>
              <p class="count-item">Apprenants</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="2"
                class="purecounter">0</span>
              <p class="count-item">Programmes</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="2"
                class="purecounter">0</span>
              <p class="count-item">Formations</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2"
                class="purecounter">0</span>
              <p class="count-item">Instructeurs</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Counts Section  -->


    <!-- Partners section-->
    <!-- Slider main container -->

    <div class="swiper" style="background-color: rgb(255, 255, 255);">
      <div class="section-title pt-4  container" data-aos="fade-up" data-aos-easing="linear">
        <h2>Nos Partenaires</h2>
        <p>Découvrez notre réseau</p>
      </div>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper align-items-center py-5">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="images/EN-O-MIKE.png" class="img-fluid" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://i.ibb.co/tPqrN2Q/CAGE-FISCOM.jpg" alt="CAGE-FISCOM">
        </div>

      </div>
      <!-- pagination -->
      <div class="swiper-pagination py-2"></div>
    </div>
  </main>
  <%-include('./partials/footer')%>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
      integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
      integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js">
    </script>
    <!--AOS script-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        mirror: false,
      });
    </script>
    <script>
      new PureCounter();
    </script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/javascripts/shared.js"></script>
</body>

</html>