<% layout('layouts/boilerplate') %>
<link href="/stylesheets/noaccess.css" rel="stylesheet"/>
<div class="container d-flex flex-column justify-content-around align-items-center">
    <h1 class="errorcode">ERROR 403</h1>
    <div >
        <h2 class="errortext">Accès non autorisé</h2>
    </div>
    <p>
     <a class="btn contact-nous" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Si ceci est une erreur, contactez-nous
     </a>
   </p>
   <div class="collapse" id="collapseExample">
     <div class="card card-body">
     <p class="px-3 py-2" style="text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 2rem;"> +226 53344444 </p>
     <hr>
     <p class="px-3 py-2" style="text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 2rem;"> afrohkteam@afrohk.com</p>
     </div>
   </div>
</div>

<div class="maincontainer">
  <div class="bat">
    <img class="wing leftwing"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
    <img class="body"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-body.png" alt="bat">
    <img class="wing rightwing"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
  </div>
  <div class="bat">
    <img class="wing leftwing"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
    <img class="body"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-body.png" alt="bat">
    <img class="wing rightwing"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
  </div>
  <div class="bat">
    <img class="wing leftwing"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
    <img class="body"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-body.png" alt="bat">
    <img class="wing rightwing"
         src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
  </div>
  <img class="foregroundimg" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/HauntedHouseForeground.png" alt="haunted house">

</div>
