<% layout('layouts/boilerplate') %>


<style>
    html {
        font-size: 90%;
    }

    .wrapper {
        margin-top: 0rem;
        background: url("https://www.driving-lessons-london.co.uk/wp-content/uploads/2020/07/key-workers-luton.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        height: 56vh;
    }

    .eng-title {
        color: rgb(58, 57, 56);
        text-transform: uppercase;
        text-align: center;
        padding: 3rem 0;
        font-size: 2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .card-wrapper {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin: 2rem 1rem;
        border-radius: 0.3rem;
    }

    .card-wrapper img {
        height: 15rem;
        width: 100%;
    }

    .level {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 1rem 0;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    .prof-1 {
        background: #007991;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #007991, rgb(66, 141, 119)6, #007991);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #007991, #2b6352, #007991);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .prof-2 {
        background: #4568DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4568DC, #79487a, #4568DC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4568DC, #613a63, #4568DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
<div class="wrapper">
</div>
<h1 class="eng-title">Anglais Pour les besoins des metiers</h1>
<div class="container mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card-wrapper">
                <img class="img-fluid img-thumbnail"
                    src="https://images.pexels.com/photos/936137/pexels-photo-936137.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="">
                <h3 class="level prof-1">Business</h3>
                <a href="" class="mb-2 mx-2 btn btn-primary">En savoir plus</a>
                <hr>
                <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                <a href="" class="mb-2 mx-2 btn btn-outline-success">S'inscrire</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img class="img-fluid img-thumbnail"
                    src="https://images.pexels.com/photos/416988/pexels-photo-416988.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="">
                <h3 class="level prof-1">Mines</h3>
                <a href="" class="mb-2 mx-2 btn btn-primary">En savoir plus</a>
                <hr>
                <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                <a href="" class="mb-2 mx-2 btn btn-outline-success">S'inscrire</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img class="img-fluid img-thumbnail"
                    src="https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="">
                <h3 class="level prof-1">Droit</h3>
                <a href="" class="mb-2 mx-2 btn btn-primary">En savoir plus</a>
                <hr>
                <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                <a href="" class="mb-2 mx-2 btn btn-outline-success">S'inscrire</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img class="img-fluid img-thumbnail"
                    src="https://images.pexels.com/photos/5327649/pexels-photo-5327649.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="">
                <h3 class="level prof-2">Medecine</h3>
                <a href="" class="mb-2 mx-2 btn btn-primary">En savoir plus</a>
                <hr>
                <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                <a href="" class="mb-2 mx-2 btn btn-outline-success">S'inscrire</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img class="img-fluid img-thumbnail"
                    src="https://thumbs.dreamstime.com/b/innovative-architecture-civil-engineering-plan-building-construction-project-creative-graphic-design-showing-concept-174256642.jpg"
                    alt="">
                <h3 class="level prof-2">Génie Civil</h3>
                <a href="" class="mb-2 mx-2 btn btn-primary">En savoir plus</a>
                <hr>
                <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                <a href="" class="mb-2 mx-2 btn btn-outline-success">S'inscrire</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-wrapper">
                <img class="img-fluid img-thumbnail"
                    src="https://images.pexels.com/photos/587063/pexels-photo-587063.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="">
                <h3 class="level prof-2">Aviation</h3>
                <a href="" class="mb-2 mx-2 btn btn-primary">En savoir plus</a>
                <hr>
                <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                <a href="" class="mb-2 mx-2 btn btn-outline-success">S'inscrire</a>
            </div>
        </div>
    </div>
</div>