<% layout('layouts/boilerplate') %>
<style type="text/css">
  .jumbotron {
    padding: 4rem 2rem;
    margin: 2rem 0;
    background-color: rgba(231, 239, 241, 0.733);
    border-radius: 0.3rem;
  }
</style>

<!--
<div class="container d-flex justify-content-center align-items-center">
  <div class="jumbotron">
    <h1 class="display-4 py-3">
      Bienvenue
      <span style="font-family: Georgia, 'Times New Roman', Times, serif"><%= username %></span>
    </h1>
    <hr class="my-4" />
     <p><strong>Le lien d'activation de compte a été envoyé dans votre boîte mail</strong></p> 
    <p>
      Consultez votre boîte mail pour activer votre compte.
    </p>
    <br />
    <p>Vous n'avez pas reçu le mail d'activation de compte ?</p>
    <a class="btn btn-outline-primary btn-small mt-2" href="/user/send-verification-email" role="button">Recevoir un
      nouveau lien d'activation de compte par mail</a>
  </div>
</div>
-->
<div class="container d-flex justify-content-center align-items-center">
  <div class="jumbotron">
    <!-- <h1 class="display-4 py-3"> -->
      <!-- Bienvenue -->
      <!-- <span style="font-family: Georgia, 'Times New Roman', Times, serif"><%= username %></span> -->
    <!-- </h1> -->
    <!-- <hr class="my-4" /> -->
     <p><strong>Le lien d'activation de compte a été envoyé dans la boîte mail du nouveau inscrit.</strong></p> 
  
  </div>
</div>