<% layout('layouts/boilerplate') %>
<style type="text/css">
  .jumbotron {
    padding: 3rem 2rem;
    margin: 2rem 0;
    background-color: rgba(231, 239, 241, 0.733);
    border-radius: 0.3rem;
  }
  .afro {
    font-family: "Ultra", serif;
    letter-spacing: 0.2rem;
    color: rgba(34, 33, 33, 0.849);
    font-size: 2rem;
  }

  .hk {
    font-family: "Ultra", serif;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: rgb(130, 7, 161);
  }
</style>
<div class="container d-flex justify-content-center align-items-center">
  <!-- If user i verified -->
  <div class="jumbotron">
    <h1 class="py-3" style="color: #333">
      Welcome to
      <span class="afro ms-2">Afro</span><span class="hk">HK</span> family
    </h1>
    <p class="lead text-success">
      <strong>Félicitations 🥳🎊 ! </strong> votre compte a été activé avec
      succès.
    </p>
    <hr class="my-4" />
    <figure class="text-center">
      <blockquote class="blockquote py-2">
        <p style="font-family: Georgia, 'Times New Roman', Times, serif">
          L'éducation est l'arme la plus puissante qu'on puisse utiliser pour
          changer le monde.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Nelson Mandela <cite title="Source Title"></cite>
      </figcaption>
    </figure>
   
    <div class="container py-2 px-3" style="background-color: rgb(255, 255, 255) ; border-radius: 5px; border: 2px solid black;">
    <p class="text-danger">Il est fortement recommandé de réinitialiser le mot de passe pour sécuriser son compte. <br> Pour le faire, cliquez sur votre nom d'utilisateur dans la barre de navigation.</p>
   
  </div>
  </div>
</div>
