<% layout('layouts/boilerplate') %>
<style type="text/css">
  .jumbotron {
    padding: 4rem 2rem;
    margin: 2rem 0;
    background-color: rgba(231, 239, 241, 0.733);
    border-radius: 0.3rem;
  }
</style>

<div class="container d-flex justify-content-center align-items-center">
  <div class="jumbotron">
     <p class="fst-italic text-center text-danger"><strong>Compte déja activé</strong></p> 
    <hr/>
    
    <a class="btn btn-outline-success btn-small mx-3 mt-2" href="/" role="button">Page d'acceuil</a>
    <a class="btn btn-outline-primary btn-small mx-3 mt-2" href="/login" role="button">Se Connecter</a>
  </div>
</div>
