<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-around mb-5">
    <div class="col-md-8 col-lg-6 d-flex justify-content-around my-5"
        style="border: 2px solid rgb(95, 12, 169); border-radius: 5px;">
        <form class="row  pb-4 mx-1" action="/reset-password" method="POST">

            <label class="form-label py-3 fs-5" for="username">Email</label>
            <input class="form-control" placeholder="" id="email" name="email" type="text" value="" required />

            <button type="submit" class="btn my-3 btn-success connexion my-2">
                Réinitialiser mon mot de passe
            </button>

        </form>
    </div>

</div>