<% layout('layouts/boilerplate') %>
  <link href="stylesheets/user/register.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <div class="container d-flex flex-column justify-content-around my-5">
    <div class="container d-flex justify-content-around ">
      <div class="col-md-8 col-lg-6 d-flex justify-content-around my-5"
        style="border: 2px solid rgb(250, 250, 250);background-color: rgb(3, 98, 67); color: azure; border-radius: 5px;">
        <h3 class="text-center px-5 py-3 d-block"><span class=""
            style="font-family:Georgia, 'Times New Roman', Times, serif;  border-radius: 5px;">Réinitialisation de mot
            de
            passe</span> </h3>
      </div>
    </div>
    <div class="container d-flex justify-content-around ">
      <div class="col-md-8 col-lg-6 d-flex justify-content-around my-5"
        style="border: 2px solid rgb(95, 12, 169); border-radius: 5px;">
        <form class="row  pb-4 mx-1" action="/userPassworLost/reset-password" method="POST">
          <!--Password-->
          <div class="form-input">
            <label for="" class="py-3 fs-4"> <i class="fa fa-lock"></i> Mot de Passe </label>
            <input class="form-control" placeholder="Saisissez votre nouveau mot de passe" id="password" name="password"
              type="password" value="" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
            <label for="password" style="font-size: 10px; color: red;">Au moins six caractères, un chiffre, une
              lettre minuscule et une majuscule</label>
          </div>
          <div class="form-input">
            <i class="bi bi-shield-lock-fill fs-5"></i>
            <input class="form-control" placeholder="Confirmez votre nouveau mot de passe" id="confirmedpassword"
              name="confirmedpassword" type="password" value="" required />
          </div>
          <div style="margin-top: 7px; background-color:rgba(250, 249, 249, 0.89); text-align: center;"
            id="CheckPasswordMatch"></div>
          <div>
            <input type="hidden" name="email" value="<%= email %>">

            <button type="submit" class="btn my-3 btn-success my-2">
              Réinitialiser mon mot de passe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#confirmedpassword").on("keyup", function () {
        const password = $("#password").val();
        const confirmPassword = $("#confirmedpassword").val();
        if (password != confirmPassword)
          $("#CheckPasswordMatch")
            .html("Mots de passe non identiques !")
            .css("color", "red");
        else
          $("#CheckPasswordMatch")
            .html("Super, les mots de passe sont identiques!")
            .css("color", "green");
      });
    });
  </script>