<% layout('layouts/boilerplate') %>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link href="/stylesheets/cmath/home.css" rel="stylesheet" />
<div data-aos="zoom-out" data-aos-delay="100" data-aos-duration="1800" class="header-wrapper">
 <div class="bg-img-wrapper">
  <img class="img-medium"
   src="https://thirdspacelearning.com/wp-content/uploads/2020/05/girls-maths-boost-confidence.jpg"
   alt="" />
 </div>
 <div class="banner-wrapper">
  <div class="d-flex align-items-center flex-column" style="width:100vw">
   <h1 class="banner-heading">Communauté Mathématique</h1>
   <!-- <p class="banner-paragraph"><span class="p-3" 
                    style="background-color: rgba(0, 0, 0, 0.349); display: inline-block;"></span></p>
                    -->
  </div>
 </div>
</div>


<nav class="cmath-navbar d-flex justify-content-around">
 <a href="#apropos" class="d-block py-2 cmath-nav-link">A propos</a>
 <a href="#inscription" class="d-block py-2 cmath-nav-link">Inscription</a>
 <a href="#team" class="d-block py-2 cmath-nav-link">Team</a>
</nav>

<div class="py-5">
 <!-- Tout savoir des olympiades  -->
 <div id="propos">
  <h1 class="section-title container" data-aos="fade-up" data-aos-easing="linear"><span class="title">A Propos</span> </h1>
  <!-- ======= About Section ======= -->

  <div class="container about" data-aos="fade-up">
   <div class="row">
    <div class="col-lg-6 order-1 order-lg-2 d-flex align-content-center flex-wrap" data-aos="fade-left"
     data-aos-delay="100">
     <img src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1668235582/Afrohk/IMG_2269_wceblf.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
     <h3> Communauté Mathématique (CMath) est une association qui fait la promotion des sciences exactes à travers l'organisation des Olympiades nationales de Mathématiques et des Sciences Physiques. 
     <br> 
      Ces compétitions ont pour but, le développement de la curiosité et l'esprit critique des candidats.
     </h3>
    </div>
   </div>
  </div>
  <!-- End About Section -->

  <div class="inscription-2022"  data-aos="fade-up">
    <a href="#inscription">Inscription aux Olympiades Nationales 2022</a>
  </div>

  <!-- ======= Team Section ======= -->
  <section id="team" class="team" style="background-color: rgb(235, 235, 235);">
    <div class="container">

      <div id="">
        <h2 class="section-title" data-aos="fade-up" data-aos-easing="linear"><span class="title">Decouvrez Notre Equipe</span> </h2>
        <!-- <p>Our Hardworking Team</p> -->
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up">
            <div class="member-img">
              <img src="images/CM_team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Antonio The Ghost 👻</h4>
              <span>Président</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="images/CM_team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Busy 🏫🎒🏫 Roxane </h4>
              <span>Poste : I don't know yet </span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="images/CM_team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Jade Zougmore J🍒de</h4>
              <span>Responsable Communication</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="images/CM_team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Angela 😊😊</h4>
              <span>Poste: I don't know yet</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->
  

 </div>

 <!-- Tout savoir des olympiades  -->
 <div id="inscription" style="background-color: rgb(255, 255, 255);">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up" data-aos-easing="linear"><span class="title">Inscription aux Olympiades Nationales</span> </h2>
    <!-- <p>Our Hardworking Team</p> -->
  </div>
  <!-- Maths Section-->
  <div class="px-3 py-2 mb-5 container col-lg-8 col-md-10"  >
    <div class="maths-section" style="background-color: rgb(255, 255, 255);">
      <h2 class="subject">Mathématiques</h2>
      <p class="subject-text">
        Description de l'olympiades de maths
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    
  <p id="enroll-section" class="d-flex py-3  justify-content-around">
    <button class="btn mx-2 btn-primary" type="button" data-bs-toggle="collapse"
      data-bs-target="#Enrollment-conditions-fr" aria-expanded="false" aria-controls="collapseExample">
      Pré-requis pour l'inscription
    </button>
    <button type="button" class="btn mx-2 btn-outline-success" data-bs-toggle="modal" data-bs-target="#enroll-fr">
    Remplir le formulaire d'inscription
    </button>
  </p>
  <div class="collapse" id="Enrollment-conditions-fr">
    <div class="card card-body">
      <ul class="condition-list">
        <li>Être inscrit dans un etablissement secondaire du Burkina ..</li>
        <li>Condition 2 </li>
        <li> Condition 3</li>
        <li>Être prêt à s'acquitter des frais de participation (1.000 fcfa)</li>
      </ul>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="enroll-fr" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enroll-en">Formulaire D'inscription Mathématique</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScJlXcV_f3d-l4lLSpZLFWEG4S9LfyOXZKWkO7OMYz2aTBhUw/viewform?usp=sf_link"
            width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
 </div>

<!-- PC Section-->
 <div class=" px-3 py-2 my-5 container col-lg-8 col-md-10">
  <div class="pc-section">
    <h2 class="subject-pc">Sciences Physiques</h2>
    <p class="subject-text">
      Description de l'olympiades de maths
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  
<p id="enroll-section" class="d-flex py-3  justify-content-around">
  <button class="btn mx-2 btn-primary" type="button" data-bs-toggle="collapse"
    data-bs-target="#Enrollment-conditions-PC" aria-expanded="false" aria-controls="collapseExample">
    Pré-requis pour l'inscription
  </button>
  <button type="button" class="btn mx-2 btn-outline-success" data-bs-toggle="modal" data-bs-target="#enroll-fr-PC">
    Remplir le formulaire d'inscription
  </button>
</p>
<div class="collapse" id="Enrollment-conditions-PC">
  <div class="card card-body">
    <ul class="condition-list">
      <li>Être inscrit dans un etablissement secondaire du Burkina ..</li>
      <li>Condition 2 </li>
      <li> Condition 3</li>
      <li>Être prêt à s'acquitter des frais de participation (1.000 fcfa)</li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="enroll-fr-PC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enroll-en">Formulaire D'inscription Sciences Physiques</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSchMj9zncMuE8gOri1T4cSwCO4g3ZMOuCU7W4kCPWFakKV5Ow/viewform?embedded=true"
          width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 </div>
</div>
</div>
 <!-- Tout savoir des olympiades  -->
 <div id="gallerie">

 </div>
</div>