* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 90%;
}

body {
  margin: 0;
  padding: auto;
  background: #ffffff;
  font-family: "Roboto";
}

/* preloader */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f6f9fd;
}

.section-title {
  z-index: 200;
  position: relative;
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 2px;
  display: inline-block;
  background: #9203ab;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0f2f57;
  color: #5000c8;
}



#site-content {
  overflow-x: hidden;
}

.header-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  perspective: 100rem;
}

/* Navbar */
/**/
.logo-navbar {
  opacity: 1;
  margin: 0;
  padding: 0;
}

.logo-display {
  display: none;
}

nav {
  z-index: 300;
  padding: 0 0 !important;
  background-color: white;
  /* background-color: transparent; */
  /* background-color: #000; */
  /* position: absolute !important; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  font-family: "Roboto";
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-display {
  opacity: 1;
}

.brand {
  font-size: 1rem;
  display: inline-block;
  color: #4d0db4;
}

#brand-name {
  color: rgba(255, 250, 240, 0.9);
  /* font-family: 'Albril Fatface', cursive; */
  font-family: "Esteban";
  font-family: "Titan One", cursive;
  /* font-family: 'Chivo', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Ultra", serif; */
  width: 4rem;
  height: 4rem;
  /* border: 3px solid rgb(35, 8, 48); */
  border-radius: 5px;
  margin: 0 1rem;
  padding: 0;
  /* text-shadow: 0.2rem 0.1rem 0.2rem rgba(34, 24, 67, 0.8); */
}

.myNav-link {
  font-size: 1.1rem;
  padding: 0 0 0.4rem 0;
  font-family: "Roboto";
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  color: rgba(51, 6, 136, 0.9) !important;
  font-weight: 500;
  transition: all 0.4s !important;
}

.myNav-link:hover {
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1.5px solid rgb(40, 3, 100);
  color: rgb(82, 5, 164) !important;
}

.nav-link-connexion {
  text-align: center;
  font-family: "Roboto";
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: rgb(243, 239, 237);
  border: 1px solid rgb(243, 241, 241);
  text-decoration: none;
  background-color: rgba(108, 12, 204, 0.752);
  background-color: #4d0db4;
  transition: all 0.3s;
}

.nav-link-connexion:hover {
  background-color: transparent;
  background-color: rgb(250, 245, 245);
  text-decoration: none;
  border: 2px solid rgb(109, 5, 109);
  color: rgba(130, 14, 165, 0.925);
}

.profile-link {
  font-family: "Roboto";
  text-decoration: none;
  font-size: 1rem;
  color: rgb(237, 237, 237);
  /* padding: 0.5rem 1rem; */
  background-color: rgb(59, 3, 85);
}

.profile-link:hover, .profile-link:focus {
  text-decoration: none;
  color: rgb(237, 237, 237);
  background-color: rgb(39, 3, 62);
  padding: 0.5rem 1rem;
}

.afro {
  letter-spacing: 0.2rem;
  color: rgb(43, 42, 42);
}

.hk {
  letter-spacing: 0.2rem;
  color: rgb(117, 13, 177);
}

#user {
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 1.5rem;
}

.user-shadow {
  color: azure;
  text-transform: capitalize;
}

.dropdown-menu {
  border: 2px solid black;
  background-color: rgb(245, 245, 245);
}

.dropdown-item {
  font-size: 1rem;
  color: #272626;
  font-family: "Roboto";
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-item:hover {
  background-color: rgb(99, 10, 151);
  color: whitesmoke;
}

/**/

.showcase {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  color: rgb(247, 246, 246);
  overflow-y: hidden;
}


@media (max-width: 1200px) {}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('https://www.saleshacker.com/wp-content/uploads/2021/02/RFP-opportunities-2048x1307.jpg') no-repeat center center/cover;
  
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 4, 46, 0.606);
  
  position: absolute;
}

.content {
  z-index: 2;
  justify-content: start;
  display: flex;
  width: fit-content;
  object-fit: cover;
}

.afrohk-title {
  font-family: "Chivo", sans-serif;
  font-size: 5rem;
  padding: 3rem 0;
  text-align: start;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 1px rgb(42, 39, 39);
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.afro-title {
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 1px rgb(20, 19, 19);
}


.banner-heading {
  width: 100%;
  opacity: 0;
  padding-left: 5rem;
  animation: moveBanner 2s 1.2s forwards;
  margin-bottom: 2rem;

}

.slogan {
  /* border-top: 3px solid white; */
  /* font-family: "Titan One", cursive; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Ultra", serif; */
  font-family: "Chivo", sans-serif;
  text-shadow: 1px 1px 1px rgb(28, 28, 29);
  padding-top: 1.3rem;
  /* font-family: 'Meriweather', Times, serif; */
  letter-spacing: 0.1rem;
  width: 60%;
  line-height: 2.5rem;
  text-align: start;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.more-btn {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4d0db4;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
transition: all 0.3s;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.more-btn:hover {
  color: rgb(255, 255, 255);
  background-color: #0d26b4;
  transform: scale(1.05);
  
  /* background-color: floralwhite; */
}



/*===============*/
/* presentation video */

#apropos {
  margin-bottom: 2rem;
  overflow: hidden;
}

.videos-header {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Chango", cursive;
}

.mission {
  background-color: whitesmoke;
  /* margin-top: 5rem; */
}

.presentation-text-wrapper {
  background-color: #fdfbfb;
  border-radius: 5px;
  margin: 1rem 2rem;
  padding: 1rem 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.presentation-heading {
  font-size: 1.5rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  color: rgb(247, 245, 243);
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.presentation-paragraph {
  font-family: "Roboto", sans-serif;
  text-align: start;
  /* font-weight: 500; */
  background-color: #faf9f9;
  /* text-transform: uppercase; */
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  /* line-height: 3rem; */
  padding: 1rem 1.5rem;
  color: rgba(34, 33, 33, 0.74);
}

.start-btn-1 {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 2px solid rgb(248, 247, 247);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0 3rem 1rem;
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  color: rgb(247, 245, 243);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.start-learning-btn:hover,
.start-btn-1:hover {
  background-color: transparent;
  color: #f7f5f5;
  border: 2px solid black;
}

.mission{
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}





/* End Navbar */
/* banner section */

#sky-wrapper {
  /* background-color:rgb(248, 247, 247); */
  height: 87vh;
  background: url("https://images.unsplash.com/photo-1516182823370-7a5fa91445c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#sky-wrapper:before {
  content: "";
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.596), #00000067, #00000056, #00000028);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(9, 9, 14, 0.856), #0d0d13c2, #10111ac7, #0000009f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: rgba(0, 0, 0, 0.253); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.bg-img-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.979);
}

.bg-img-wrapper img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  animation: scale 25s;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.flash-container {
  width: 40%;
  font-family: "Roboto";
  height: 2rem;
  padding: 1rem 0.5rem;
  letter-spacing: 0.1rem;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flash {
  font-size: 1rem;
}

#banner-wrapper {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 10%;
}

@keyframes moveBanner {
  0% {
    transform: translateY(20rem) rotate(-10deg);
  }

  100% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
}

#banner {}


.banner-paragraph {
  font-size: 1.5rem;
  color: rgb(84, 19, 138);
  width: 40%;
  margin: 2rem 0;
  text-transform: uppercase;
  line-height: 3rem;
  background-color: rgba(255, 255, 255, 0.568);
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.678);
  font-weight: 500;
  opacity: 0;
  animation: moveBanner 1.5s 1.5s forwards;
}

.account-wrapper {
  padding-top: 2rem;
  width: 100%;
  opacity: 0;
  animation: moveBanner 1.5s 1.8s forwards;
}

/*btn_background*/

.effect01 {
  color: #fff;
  border: 3px solid rgba(255, 255, 255, 0.897);
  box-shadow: 0px 0px 0px 1px #000 inset;
  background: #ad5389;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.effect01:hover {
  border: 2px solid rgb(153, 62, 156);
  background-color: rgb(184, 113, 187);
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/

.effect01 span {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  font-family: "Roboto";
  text-align: center;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  padding: 0.7rem 1rem;
  transition: all 0.2s ease-out;
  z-index: 2;
}

.effect01:hover span {
  letter-spacing: 0.15em;
  color: rgb(255, 255, 255);
}

/*highlight*/

.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}

.effect01:hover:after {
  background: #fff;
  border: 10px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

#sky {
  display: none;
}

.motto {
  z-index: 10;
  padding: 1rem;
  background-color: rgb(8, 7, 7);
  width: 100%;
  color: rgb(226, 224, 223);
  margin: 0;
  letter-spacing: 0.4rem;
  text-align: center;
  text-shadow: 1px 4px 3px rgba(29, 27, 27, 0.815);
  font-family: "Kaushan Script", cursive;
  /* font-family: 'Paytone One', sans-serif; */
  /* font-family: "Rye", cursive; */
  /* font-family: 'Titan One', cursive; */
  /* font-family: "Nosifer", cursive; */
  /* font-size: 5rem; */
}

/* end  banner */
/*  Main content */

#site-content {
  /* margin-top: 1rem; */
}

/* Got to top link */

.top-link {
  background-color: rgb(252, 252, 252);
  color: #2f0578;
  width: 3rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  text-align: center;
  border-radius: 2px;
  line-height: 3rem;
  font-size: 2rem;
  position: fixed;
  text-decoration: none;
  right: 3%;
  bottom: 2%;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: 99;
}

.top-btn-display {
  opacity: 1;
  visibility: visible;
  display: block;
}

.top-link:hover {
  text-decoration: none;
  color: rgb(19, 18, 18);
}

#afro {
  text-shadow: 1px 1px 2px rgba(255, 255, 230, 0.8);
}

/*  End main content */

/* learn with us */

.learn-line-top {
  padding: 2rem 0;
  margin-top: 10rem;
  transform: skewY(-3deg);
  background-color: rgb(81, 9, 157);
}

.learn-line-bottom {
  transform: skewY(-3deg);
  height: 1.5rem;
  background-color: rgb(81, 9, 157);
}

.why-join-us {
  font-family: "Chango";
  color: white;
  text-align: center;

}

.learn-section {
  height: 75vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  position: relative;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  margin: 1rem 0 2rem;
  padding: 0;

}

.learn-section:before {
  content: "";
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(36, 36, 35, 0.63), rgba(23, 24, 24, 0.486), rgba(33, 34, 34, 0.486));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(36, 36, 35, 0.452), rgba(23, 24, 24, 0.342), rgba(33, 34, 34, 0.247));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: rgba(0, 0, 0, 0.253); */
  background: url("https://images.pexels.com/photos/3184163/pexels-photo-3184163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 75vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  position: relative;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

.hero {
  height: 100%;
  width: 100%;
  font-size: 4em;
}

.hero-tagline {
  float: left;
}

.study-intro {
  text-align: center;
}

.study {
  font-family: "Ultra", serif;
  color: rgba(114, 8, 167, 0.952);
  font-family: "Chango";
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  position: relative;
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.686); */
  letter-spacing: 0.15rem;
  font-weight: 600;
  z-index: 200;
  text-align: center;
}

.word-slider {
  height: 1em;
  position: relative;
  line-height: 1em;
  margin: 0 0.5em;
  overflow: hidden;
  float: left;
  list-style-type: none;
}

.word-slider>li {
  font-family: "Ultra", serif;
  font-family: "Chango";
  color: rgb(231, 223, 252);
  text-shadow: 1px 2px 1px black;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  -webkit-animation: word-slider 8s ease-in-out infinite;
  -moz-animation: word-slider 8s ease-in-out infinite;
  -o-animation: word-slider 8s ease-in-out infinite;
  animation: word-slider 8s ease-in-out infinite;
}

.start-learning-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: black;
  border: 2px solid rgb(240, 237, 235);
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: rgb(235, 222, 217);
}

@-webkit-keyframes word-slider {
  0% {
    -webkit-transform: translate3D(0, 0, 0);
  }

  33% {
    -webkit-transform: translate3D(0, -100%, 0);
  }

  66% {
    -webkit-transform: translate3D(0, -200%, 0);
  }

  100% {
    -webkit-transform: translate3D(0, -300%, 0);
  }
}

@-moz-keyframes word-slider {
  0% {
    -moz-transform: translate3D(0, 0, 0);
  }

  33% {
    -moz-transform: translate3D(0, -100%, 0);
  }

  66% {
    -moz-transform: translate3D(0, -200%, 0);
  }

  100% {
    -moz-transform: translate3D(0, -300%, 0);
  }
}

@-o-keyframes word-slider {
  0% {
    -o-transform: translateY(0);
  }

  33% {
    -o-transform: translateY(-100%);
  }

  66% {
    -o-transform: translateY(-200%);
  }

  100% {
    -o-transform: translateY(-300%);
  }
}

@keyframes word-slider {
  0% {
    transform: translate3D(0, 0, 0);
  }

  33% {
    transform: translate3D(0, -100%, 0);
  }

  66% {
    transform: translate3D(0, -200%, 0);
  }

  100% {
    transform: translate3D(0, -300%, 0);
  }
}

/*Utility Classes*/

.flexbox-container-center {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.flexbox-item-center {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.ie9 .flexbox-container-center {
  display: table;
}

.ie9 .flexbox-item-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}





/* Programs*/
.program-section-wrapper {
  overflow-x: hidden;
  margin: 0 0;
  padding: 2rem 0 4rem;
  /* background-color: rgb(255, 255, 255); */
}

#program {
  margin-top: 4rem;
}

.my-card-wrapper {
  margin: 0 2rem;
}

.my-card {
  animation: moveProgCards 2s 1.2s forwards;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-bottom: 2rem;
}

.my-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  
}

.image-wrapper {
  overflow: hidden;
}

.program-image {
  opacity: 0.8;
}

.sponsored-program-image {}

.sponsored-program-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

.program-name {
  font-family: "Chivo", sans-serif;

  font-weight: 700;
  font-size: 1.5rem;
}

.sponsored-program-name {
  font-family: "Chivo", sans-serif;
  text-align: center;
  color: rgb(66, 16, 141);
  font-weight: 700;
  padding: 1rem;
  font-size: 1.5rem;
}

.program-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1.3rem 0;
  font-size: 1.2rem;
  color: rgba(32, 32, 32, 0.781);
  line-height: 2.5rem;
  height: 8rem;
}

.my-card:hover .program-name {
  color: rgb(92, 18, 114);
}

.sponsored-program-title {
  font-family: "Chivo", sans-serif;
  font-family: "Chango";
  font-size: 2rem;
  background: #667db6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem;
  border-radius: 5px; 
  color: rgb(245, 235, 235);
  text-shadow: 1px 2px 1px black;
  transition: all 1s;
}


.new-program-wrapper {
margin-top: 4rem; 

}

.my-card:hover .program-image {
  opacity: 1;
}


.course-btn{
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.course-btn::after,
.course-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.course-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #660395;
  border-radius: 10px;
}

.course-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.course-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.course-btn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.course-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.course-btn:hover{
  color: #f0f0f0;
}



/* Section 2 */

/* End Programs*/
/* testimonials section */

.customer-section {
  min-height: 100vh;
  background: url("https://images.pexels.com/photos/5537940/pexels-photo-5537940.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  position: relative;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  overflow-x: hidden;
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  justify-content: space-around;
  /* background-color: rgb(255, 255, 255); */
  padding: 5rem 0 10rem;

  transform: skewY(-3deg);
}

.customer-section-top-line {
  transform: skewY(-2deg);
  margin: 5rem 0 2rem;
  height: 2rem;
  background-color: rgb(81, 9, 157);

}

.custumer-container {
  transform: skewY(3deg);
}

#customers-cards {
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2e3, #c9d6ffdb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e2e2e6, #c9d6ffe7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  max-width: 1000px;
  min-height: 32rem;
  /* background: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"); */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  position: relative;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  margin: auto;
  border-radius: 5px;
  border: 5px solid rgb(250, 248, 248);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.5s;
}

#customers-cards:hover {
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #c9d6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

customers-cards:before {
  content: "";
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(36, 36, 35, 0.63), rgba(23, 24, 24, 0.486), rgba(33, 34, 34, 0.486));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(36, 36, 35, 0.63), rgba(23, 24, 24, 0.486), rgba(33, 34, 34, 0.486));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: rgba(0, 0, 0, 0.253); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.customer-paragraph-1 {
  font-size: 1.3rem;
  /* line-height: 1.5rem; */
  color: #7209af;
  font-family: "Chivo", sans-serif;
  font-family: cursive;
  /* text-transform: uppercase; */
  text-align: start;
  font-weight: 700;
  letter-spacing: 0.1rem;
  /* text-shadow: 1px 1px 0px rgb(31, 30, 30); */
  padding: 0 0 0.5rem 0;
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 2rem 5rem;
  font-family: "Roboto", sans-serif;
  font-family: "Esteban";
  font-size: 1rem;
  text-align: start;
  letter-spacing: 0.1rem;
  /* font-weight: 400; */
  font-size: 1.2rem;
  color: rgba(39, 45, 51, 0.897);
  line-height: 2.5rem;
}

.customer-job {
  color: rgb(62, 54, 66);
  text-align: start;
}

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    font-size: 1rem;
    line-height: 2.3rem;
  }

  .customer-section {
    margin: 0 0;
    padding: 2rem 0 5rem;
  }

  #customers-cards {
    height: 52rem;
  }
}


@media (max-width: 500px) {

  #customers-cards {
    height: 62rem;
  }
}


@media (max-width: 362px) {

  #customers-cards {
    height: 75rem;
  }
}

.carousel-caption img {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid rgb(23, 2, 31); */
  margin-top: 2rem;
}



#image-caption {
  font-style: normal;
  font-size: 1.2rem;
  padding: 1rem 0 0.4rem;
  text-align: start;
  /* font-weight: 700; */
  color: rgb(81, 9, 157);
  margin-top: 1rem;
  /* text-shadow: 1px 2px 3px black; */
}

@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .carousel-caption img {
    width: 100%;
    height: 18rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid rgb(23, 2, 31); */
    margin-top: 1rem;
  }

}

.carousel-button {
  background-color: rgb(81, 9, 157);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  margin: 0 1rem;
  padding: 1rem;
}

@media (max-width: 767px) {
  .carousel-button {
    padding: 0.4rem;
    margin: 0 0.5rem;
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}

/* customer section */

.common-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.common-heading {
  color: #242323;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.customer-fullname {}

/* end customer section */

.small-underline {
  width: 9rem;
  height: 0.3rem;
  margin: 0 auto 1rem;
  background-color: #8f06b1;
}

.big-underline {
  width: 20rem;
  height: 0.2rem;
  background-color: #8f02b3;
}

/* TV Screen */

#tv-container {
  max-width: 1024px;
  margin: auto;
}

#monitor {
  background: #000;
  position: relative;
  border-top: 3px solid #888;
  margin: 5%;
  padding: 0.5% 2% 4% 2%;
  border-radius: 10px;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
  transition: margin-right 1s;
}

#monitor:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: 0.5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

#monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.afrohk-text {
  font-size: 1.2rem;
  font-family: "Kaushan Script", cursive;
}

.afrohk {
  letter-spacing: 0.2rem;
  color: white;
}

.tv {
  letter-spacing: 0.2rem;
  color: rgb(81, 9, 157);
}

#vimeo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0;
}

@media all and (min-width: 560px) {
  #monitor {
    -webkit-animation: tvflicker 0.2s infinite alternate;
    -moz-animation: tvflicker 0.5s infinite alternate;
    -o-animation: tvflicker 0.5s infinite alternate;
    animation: tvflicker 0.5s infinite alternate;
  }

  @-webkit-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(200, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 95px 0 rgba(200, 230, 255, 0.45);
    }
  }

  @-moz-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
  }

  @-o-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
  }

  @keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
  }
}

/* End of gallery */
/*------- Accessibility------------*/

#access-wrapper {
  background-color: white;
  padding: 10rem 0 6rem;
}

.acc-text-wrapper {
  height: 80%;
}

.accessibility-text {
  color: #0a0a0ab4;
  font-family: "Kaushan Script", cursive;
  font-family: "Chivo", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

/*------ News section ---------*/

.news-section-wrapper {
  background-color: #fafafac7;
}

.recent-news-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #8E2DE2;
  font-size: 2rem;
  border-bottom: 1px solid rgb(24, 23, 24);
  border-top: 1px solid rgb(28, 27, 28);
  padding: 0 0.2rem;
}

.more-news-title {
  background: #4e54c8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(250, 247, 247, 0.933);
}

.news-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}

.news-title {
  color: rgb(133, 7, 150);
  font-size: 1.4rem;
  /* font-family: 'Albril Fatface', cursive; */
  font-family: "Esteban";
  /* font-family: "Titan One", cursive; */
  /* font-family: 'Chivo', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Ultra", serif; */
  /* font-family: "Roboto"; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 0.14rem;
  height: 4rem;
  font-weight: 400;
  padding: 1rem auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.news-img-wrapper {}

.news-img {
  display: block;
  opacity: 0.9;
  width: 100%;
  height: 20rem;
  transition: all ease-in-out 0.3s;
}


.news-img:hover {
  transform: scale(1.02);
  opacity: 1;
}

.news-text {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-family: 'Albril Fatface', cursive; */
  /* font-family: "Esteban"; */
  /* font-family: "Titan One", cursive; */
  /* font-family: 'Chivo', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Ultra", serif; */
  /* font-family: "Roboto"; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem 1rem;
  color: #231f24;
  font-size: 1.3rem;
  height: 10rem;
}

/*------------ Counts ------------------------*/

#counts {
  overflow-x: hidden;
}

.counts {
  padding: 5rem 0 10rem 0;
  background-color: rgba(240, 247, 250, 0.65);
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  border-radius: 4px;
}

.counts .count-box i {
  position: absolute;
  width: 54px;
  height: 54px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgb(159, 3, 211);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 3rem;
  display: block;
  font-weight: 700;
  color: #8005a5;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.77);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: rgba(245, 239, 239, 0.76);
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
}


/*--------------- Clients ----------*/

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #db1eec;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b90edb;
}

.swiper-slide img {
  opacity: 0.7;
  width: 200px;
  height: 200px;
  transition: 0.3s;
  /* filter: grayscale(100); */
}

.swiper-slide img:hover {
  opacity: 1;
  filter: none;
}

.swiper {
  padding: 20px;
  background-color: #ffffff;
}


/*--------------------------------------------------------------
/* footer 
============================================================*/
.svg-logo{
  width: 80%;
  height: 80%;
}

.top-footer-line{
  background-color: #5000c8;
  width: 100%;
}

.top-footer-line > p{
  text-align: center;
  position: relative;
  background-color: #5000c8;
  font-size: 2rem;
  line-height: 35px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  padding: 2rem 1rem;
  font-weight: 700;
  margin-bottom: 27px; 
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer{
  position: relative;
  background: #ffffff;
}

.footer-content{
  position: relative;
  padding: 35px 0px 50px 0px;
}
.footer-content:before{
  position: absolute;
  content: '';
  background: url();
  width: 744px;
  height: 365px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}


.footer-column, .footer-widget{
display: flex;
flex-direction: column;
justify-content: center;
}

.footer-content .logo-widget{
  position: relative;
  margin-top: -5px;
}

 .footer-social, .whatsApp{
margin: 30px 0;
}
.footer-content  .footer-social li{
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content  .footer-social li:last-child{
  margin-right: 0px;
}
.footer-content  .footer-social li a{
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #d2d6e0;
  color: #17181a;
  text-align: center;
  border-radius: 50%;
}
.footer-content  .footer-social li a:hover{
  color: #ffffff;
  background: #5806c5;
}
.footer-content .logo-widget .logo-box{
  margin-bottom: 25px;
}
.footer-content .logo-widget .text p{
  color: #9ea0a9;
  margin-bottom: 32px;
}
.footer-content .footer-title{
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Playfair Display', serif;
  color: #4c07ad;
  font-weight: 700;
  margin-bottom: 27px;
}
.footer-content .service-widget .list li{
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a{
  position: relative;
  display: inline-block;
  color: #1e1f21;
}
.footer-content .service-widget .list li a:hover{
  color: #470585;
}
.footer-content .contact-widget p{
  color: #9ea0a9;
  margin-bottom: 15px;
}
.footer-content .contact-widget{
  
}
.footer-content .contact-widget .footer-title{
  margin-bottom: 29px;
}

/** footer-bottom **/

.footer-bottom{
  background-color: #5000c8;
  padding: 20px 0px;
  margin-bottom: 0;
}

.copyright{
  color: rgb(203, 214, 221);
  text-align: center;
}




/* responsive */
@media (max-width: 1200px) {
  .header-text {
    font-size: 3rem;
  }

  .motto-footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 990px) {
  .header-text {
    font-size: 2.5rem;
  }

  .nav-link {
    display: flex;
    justify-content: center;
  }

  .flash-container {
    width: 80%;
  }

  .motto-footer {
    font-size: 1rem;
  }

  .top-link {
    right: 5%;
    bottom: 5%;
  }
}

@media (max-width: 800px) {
  .logo-footer {
    width: 150px;
    height: 200px;
  }

  #brand-name {
    font-size: 2rem;
  }

  .motto-footer {
    font-size: 0.8rem;
  }

  .logo-navbar {
    display: none;
  }
}


@media (max-width: 768px) {
  #footer {
    background: -webkit-linear-gradient(to top,
        #412388,
        #556497,
        #ffffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,
        #412388,
        #556497,
        #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

}

@media (max-width: 450px) {
  .footer-links-header {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .brand {
    font-size: 1rem;
  }

  html {
    font-size: 90%;
  }

  .useful-links {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .brand {
    font-size: 0.8rem;
  }
}

/* End footer */









/* animations */
/*=========================Responsiveness ===========================*/
@media (max-width: 1400px) {

  .program-description {
    line-height: 3rem;
    height: 13rem;
  }

  .news-text {
    padding-top: 1rem;
    height: 15rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {

  .learn-with-us,
  .why-afrohk,
  .partners,
  .clients,
  .about,
  .services {
    font-size: 2.6rem;
    margin: 0;
    padding: 3rem 0;
  }

  #banner-wrapper {
    z-index: 2;
    top: 25%;
    left: 10%;
  }

  .afrohk-title {
    font-size: 5rem;
  }

  .header-text {
    font-size: 3rem;
  }

  .flash-container {
    z-index: 2;
    top: 17%;
    left: 50%;
  }

  .flash {
    font-size: 1rem;
  }

  .new-program {
    font-family: "Chivo", sans-serif;
    font-family: "Chango";
    font-size: 1.5rem;
    color: rgb(245, 235, 235);
    text-shadow: 1px 2px 1px black;
    transition: all 1s;
    padding-bottom: 0.5rem;
  }

  .news-text {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (max-width: 1100px) {


  .news-text {
    padding-top: 1rem;
    height: 17rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  nav {}

  .nav-link {
    display: flex;
    justify-content: center;
  }
  .footer-links-header{
    font-size: 1rem;
    margin-top: 1rem;
  }

  .more-btn {
    font-size: 1rem;
    padding: 1rem 1.4rem;
  }


  .check-programs,
  .get-account {
    width: 25rem;
    display: inline;
    font-size: 0.8rem;
  }


  .account-wrapper {
    width: 100%;
  }

  #banner-wrapper {
    z-index: 2;
    top: 20%;
    left: 10%;
  }

  .flash-container {
    z-index: 2;
    top: 15%;
    left: 50%;
  }

  .banner-heading {
    padding-left: 4rem;
  }

  .banner-paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }



  .header-text {
    font-size: 2.5rem;
  }

  .motto-footer {
    font-size: 1rem;
  }



  .program-description {
    line-height: 3rem;
    height: 10rem;
  }

  .news-img {
    height: auto;
  }

  .news-content-wrapper {
    padding: 1rem 2rem;
  }

  .news-text {
    font-size: 1.2rem;
    height: auto;
  }


@media (max-width: 905px) {

  .check-programs,
  .get-account {
    width: 25rem;
    display: inline;
    font-size: 0.8rem;
  }

  .new-program-wrapper{
    margin-top: 12rem;
  }
}
  #brand-name {
    font-size: 2rem;
  }

  .flash-container {
    width: 100%;
  }

  .my-card-wrapper {
    margin: 0 0.2rem;
  }

  .account-wrapper {
    width: 100%;
  }

  #sky-wrapper {
    height: 90vh;
  }

  .learn-with-us,
  .partners,
  .clients,
  .about,
  .services {
    font-size: 2.3rem;
    padding: 1rem;
  }

  #monitor {
    margin: 2%;
  }

  .motto {
    font-size: 1.5rem;
  }

  .header-text {
    /* font-size: 2.6rem; */
  }

  .common-header {
    margin-bottom: 2rem;
  }

  .customer-section {
    flex-direction: column;
    justify-content: center;
  }

  .learn-section {
    height: 50vh;
    padding: 1rem;
    background-color: whitesmoke;
    margin-bottom: 1rem;
  }

  .study {
    font-size: 2.5rem;
  }

  .word-slider>li {
    font-size: 1.8rem;
  }

  .testimony-text {
    font-size: 1rem;
    margin: 2rem 2rem 4rem;
  }

  .knowledge-quote {
    font-size: 2rem;
  }

  .mission {
    /* background-color: whitesmoke; */
    margin-top: 3rem;
  }

  .common-heading {
    margin: 5rem 0 0.8rem 0;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .customers-paragraph {
    font-size: 1rem;
    width: 50%;
    margin: 2rem auto 4rem;
    text-align: center;
  }

  .customer-image {
    width: 10rem;
    height: 12rem;
    margin-left: -0.6rem;
    box-shadow: 0.2rem 0.2rem 2rem 0.5rem rgba(0, 0, 0, 0.678);
  }

  .customers-card {
    /* background-color:#ddd; */
    width: 30rem;
    margin-top: 2rem;
  }

  .slider ul {
    display: flex;
    padding: 0;
    animation: cambio 30s infinite linear;
  }

  .news-text {

    height: auto;
  }

  .header-text {
    font-size: 2rem;
  }

  .motto-footer {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .logo-footer {
    width: 150px;
    height: 200px;
  }

  #banner-wrapper {
    z-index: 2;
    top: 30%;
    left: 15%;
  }

  .banner-heading {
    font-size: 2.5rem;
    line-height: 3rem;
    /* width: 60%; */
  }

  .banner-paragraph {
    font-size: 1.5rem;
    width: 60%;
    line-height: 2.8rem;
  }

  .check-programs,
  .get-account {
    width: 20rem;
    display: inline;
    font-size: 1rem;
  }

  .account-wrapper {
    width: 100%;
    margin: 5rem 0 0;
  }

  .video-container video{
display: none;
  }

  .new-program-wrapper {
    margin-bottom: 4rem;
  }

  .new-program {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .header-text {
    /* font-size: 3rem; */
  }

  .news-text {

    height: auto;
  }
}

@media (max-width: 780px) {
  .news-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    height: auto;
  }


  .afrohk-title {
    font-size: 5rem;
  }

  .slogan {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

}



@media (max-width: 768px) {
  #footer {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  .slogan {
    font-size: 1.5rem;
  }

  .footer-links-header{
    font-size: 1rem;

  }

  .more-btn {
    font-size: 1rem;
  }

  .accessibility-text {
    font-size: 1.8rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 700px) {
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('https://images.pexels.com/photos/7550293/pexels-photo-7550293.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center center/cover;
  }
  
  

  .afrohk-footer,
  .header-text {
    font-size: 3rem;
  }

  .course-link {
    color: #fcfbfa;
    font-size: 0.8rem;
  }

  .logo-navbar {}

  #banner-wrapper {
    z-index: 2;
    top: 25%;
    left: 15%;
  }

  .banner-heading {
    font-size: 2rem;
    line-height: 3rem;
  }

  .banner-paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .check-programs,
  .get-account {
    width: 20rem;
    display: inline;
    font-size: 1rem;
  }

  .account-wrapper {
    width: 100%;
    margin-bottom: 2rem;
  }

  .header-text {
    font-size: 2rem;
  }

  .account-wrapper {}

  #sky-wrapper {
    position: relative;
  }

  .program-name {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .program-description {
    font-size: 1.2em;
    font-weight: 400;
    height: auto;
  }

  .learn-with-us,
  .why-afrohk,
  .partners,
  .clients,
  .about,
  .services {
    font-size: 2rem;
    padding: 1rem;
  }

  .slider ul {
    display: flex;
    padding: 0;
    animation: cambio 40s infinite linear;
  }

  .card-img-top {
    display: none;
  }

  .learn-section,
  .learn-line-top,
  .learn-line-bottom {
    display: none;
  }

  .new-program-wrapper{
    margin-top: 2rem;
  }

  .study {
    font-size: 2rem;
  }

  .word-slider>li {
    font-size: 1.2rem;
  }

  .motto-footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {

  .afrohk-footer,
  .header-text {
    font-size: 2rem;
  }

  .xxlarge{
    display: none;
  }

  .medium{
    width: 300px;
    height: 300px;
    left: -100px;
    bottom: -100px;
  }
  
  .large{
    width: 500px;
    height: 500px;
    left: -200px;
    bottom: -200px;
  }
  
  .xlarge{
    width: 700px;
    height: 700px;
    left: -300px;
    bottom: -300px;
  }
  
 
  

  
  @keyframes ripple{
    0%{
      transform: scale(0.6);
    }
    
    50%{
      transform: scale(1.0);
    }
    
    100%{
      transform: scale(0.6);
    }
  }
   

  .afrohk-title {
    font-size: 4rem;
  }

  .flash {
    font-size: 0.6rem;
  }


  .check-programs,
  .get-account {
    width: 20rem;
    display: inline;
    /* font-size: 0.5rem; */
  }

  .presentation-heading {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
  }

  .presentation-paragraph {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    line-height: 2rem;
  }

  .learn-section {
    height: 30vh;
    padding: 1rem;
    background-color: whitesmoke;
    margin-bottom: 1rem;
  }

  .study {
    font-size: 1.5rem;
  }

  .word-slider>li {
    font-size: 1.3rem;
  }


}

@media (max-width: 460px) {
  .slider ul {
    display: flex;
    padding: 0;
    animation: cambio 50s infinite linear;
  }

  .xlarge{
    display: none;
  }
  html {
    font-size: 90%;
  }

  .afrohk-title {
    font-size: 3rem;
  }

  .slogan {
    font-size: 1.6rem;
  }

  #banner-wrapper {
    z-index: 2;
    top: 35%;
    /* width: 100%; */
    left: 5%;
  }

  .brand {
    font-size: 1rem;
  }

  .banner-heading {
    /* font-size: 2rem; */
    line-height: 4rem;
    padding-left: 2rem;
    /* width: 80%; */
  }

  .banner-paragraph {
    /* font-size: 1.2rem; */
    line-height: 2rem;
    width: 80%;
  }

  .presentation-text-wrapper {
    margin: 1rem 0.3rem;
  }

  .check-programs,
  .get-account {
    width: 20rem;
    display: inline;
    /* font-size: 1rem; */
  }

  .account-wrapper {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 350px) {
  .slider ul {
    display: flex;
    padding: 0;
    animation: cambio 50s infinite linear;
  }

  .brand {
    font-size: 0.8rem;
  }

  .afrohk-title {
    font-size: 3rem;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .account-wrapper {
    width: 80%;
  }

  #banner-wrapper {
    z-index: 2;
    top: 35%;
    /* width: 100%; */
    /* left: 10%; */
  }


  .banner-heading {
    /* font-size: 2rem; */
    line-height: 4rem;
    /* width: 80%; */
  }

  .banner-paragraph {
    /* font-size: 1.2rem; */
    line-height: 2rem;
    width: 80%;
  }

  .check-programs,
  .get-account {
    width: 10rem;
    display: inline;
    font-size: 0.8rem;
  }

  .presentation-text-wrapper {
    background-color: #000000;
    border-radius: 5px;
    margin: 1rem;
  }

  .account-wrapper {}
}

/* --- animations---- */
/* --- animation 1 fade in Up---- */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* --- animation 1 fade in left ---- */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



