html {
    font-size: 80%;
}

body {
    background-color: rgb(255, 255, 255);
}

.user-banner {
    padding: 2rem 1rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    /* height: 30vh; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 254);
    border: 3px solid purple;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.user-img {
    width: 60%;
    height: 60%;
}

.welcome-msg {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    font-size: 1.5rem;
    line-height: 2rem;
    /* font-family: "Kaushan Script", cursive; */
    /* font-family: 'Paytone One', sans-serif; */
    /* font-family: "Rye", cursive; */
    /* font-family: 'Titan One', cursive; */
    color: rgb(12, 78, 12);
    /* font-family: "Nosifer", cursive; */
}

.quote {
    margin: 2rem 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

.my-program {
    text-align: center;
    /* font-family: "Kaushan Script", cursive; */
    font-family: 'Paytone One', sans-serif;
    /* font-family: "Rye", cursive; */
    /* font-family: 'Titan One', cursive; */
    /* font-family: "Nosifer", cursive; */
    font-size: 1.5rem;
    padding: 2rem 2rem;
    background-color: rgb(19, 87, 130);
    color: aliceblue;
}

.nep {
    font-family: "Rye", cursive;
    padding: 1rem 3rem 0 1rem;
    font-size: 1.3rem;
    color: rgb(4, 96, 167);
}

.my-clubs {
    /* padding: 1rem 3rem 0 1rem; */
    margin: 0 1rem;
}

.club-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    background-color: rgb(4, 92, 164);
    color: aliceblue;
    transition: all 0.3s;
    display: block;
    text-align: center;
    border-radius: 5px;
}

.club-name:hover, .club-name:focus {
    color: rgb(11, 98, 174);
    background-color: aliceblue;
    border: 2px solid rgb(11, 98, 174); 
}

.program-wrapper {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 5rem 4rem;
    padding: 1rem 1rem;
}

.program-img-wrapper img {
    /* height: 20rem; */
    width: 100%;
}

.pecp-coach {
    background: url(https://images.pexels.com/photos/5685821/pexels-photo-5685821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 69vh;
    position: relative;
}

.pecp-link-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}