body {
  background-color: rgb(255, 255, 255);
}

.maths-wrapper{
    margin: 1rem 0 4rem;
}

.maths-title{
    color: white;
    padding-bottom:1rem;
    text-shadow: 1px 2px 3px orange;
    font-family:'Kaushan Script', cursive;
    text-transform: capitalize;
    font-size: 3rem;
}

#course-menu-wrapper{

}
.course-menu-btn{
    font-family: Times New Roman;
    font-size: 1.1rem;
    width: 20rem;
    padding: 1rem 1rem;
    border-radius: 2px;
    background-color: black;
    color: skyblue;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border: 2px solid #ebdfdf;
}

.course-menu-btn:hover{
    color: whitesmoke;
}

#course-menu{
    border: 1px solid orange;
    height: 2rem;
    width: 20rem;
    background-color: violet;
}

.card-body{
    width: 25rem;
}
#maths-section {
    background: linear-gradient(to top,
                                rgba(0, 0, 0, 0.5),
                                rgba(0, 0, 0, 0.6),
                                rgba(34, 32, 41, 0.8)), url("https://images.pexels.com/photos/3729557/pexels-photo-3729557.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") center no-repeat;
    background-size: cover;
    color: rgb(32, 30, 20);
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1;
    padding-bottom: 2rem;
}

.chapters-heading{
font-family: 'Times New Roman', Times, serif;
letter-spacing: 0.1rem;
}

.chapters-heading-title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ebdfdf;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.623);
  border: 2px solid gray;
}
.chapitre{
    display: inline;
    padding: 1rem 1rem;
    font-family:'Vollkorn', serif;
    margin: 1rem;
    padding: 0 auto;
    list-style: none;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.course-video-link span{
    display: block;
    width: 3rem;
    border-radius: 2px;
    background-color: #222;
    border: 2px solid orangered;
    text-align: center;
    font-family:'Kaushan Script', cursive;
    color: whitesmoke;
    margin-right: 1rem;
}
.course-video-link{
    text-decoration: none;
    width: 20rem;
    font-weight: 400;
    font-family:Times new roman;
    display:block;
    display: flex;
}

/* menu */

.instruction-paragraph {
    color: rgb(207, 230, 207);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    padding: 1rem 0;

}

  /*btn_background*/
  .effect01 {
    color: #FFF;
    border: 3px solid rgba(255, 68, 0, 0.692);
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }

  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }

  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }


/* TV Screen */

body {
  background-color: #333;
}

#tv-container {
  max-width: 1024px;
  margin: auto;
}

#monitor {
  background: #000;
  position: relative;
  border-top: 3px solid #888;
  margin: 5%;
  padding: 0.5% 2% 4% 2%;
  border-radius: 10px;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
  transition: margin-right 1s;
}

#monitor:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: .5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

#monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.afrohk-text{
    font-size:1.2rem;
    font-family:'Kaushan Script', cursive;
}

.afrohk{
    letter-spacing: 0.2rem;
    color:white;
}

.tv{
    letter-spacing: 0.2rem;
    color: orangered;
}


#vimeo-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0;
}

@media all and (min-width: 560px) {
  #monitor {
    -webkit-animation: tvflicker .2s infinite alternate;
    -moz-animation:    tvflicker .5s infinite alternate;
    -o-animation:      tvflicker .5s infinite alternate;
    animation:         tvflicker .5s infinite alternate;
  }

  @-webkit-keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
    100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
  }
  @-moz-keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
    100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
  }
  @-o-keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
    100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
  }
  @keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
    100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
  }
}
