* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(238, 238, 238);
}

.subject-title {
  color: rgba(48, 29, 54, 0.836);
  padding: 1rem;
  /* text-shadow: 1px 1px 1px rgba(36, 35, 35, 0.705); */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
  font-size: 3rem;
}

.price {
  background-color: #0575e6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#course-menu-wrapper {}

.calc-card {
  box-shadow: rgba(5, 60, 123, 0.4) 0px 0px 0px 2px, rgba(9, 107, 219, 0.759) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 0 2rem;
  margin: 0 4rem;
}

.scientific-calc-btn {
  font-size: 1.2rem;
  border: 2px solid rgb(30, 31, 29);
  border-radius: 5px;
  background-color: #333;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: rgb(247, 240, 240);
  margin: 1rem 0.3rem;
  outline: none;
  letter-spacing: 0.2rem;
  font-weight: 600;
  transition: all 0.5s;
}

.graph-btn {
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: #333;
  margin: 1rem 0.3rem;
  outline: none;
  letter-spacing: 0.2rem;
  font-weight: 600;
  transition: all 0.5s;
}

.graph-btn:hover,
.scientific-calc-btn:hover {
  color: whitesmoke;
  outline: none;
  background-color: rgb(248, 137, 10);
}

.chapter-list {
  background: #00f260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #0575e6,
      #00f260);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #0575e6,
      #00f260);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 00.13em;
  margin: 3rem 0;
  font-size: 1.7rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.chapter-link {
  margin: 0 1rem;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 2px;
  text-align: center;
  /* font-family: "Kaushan Script", cursive; */
  text-decoration: none;
  color: rgb(42, 86, 207);
  transition: all 0.2s;
}

.chapter-link:hover {
  color: #0575e6;
  font-size: 1.79rem;
}

.list-wrap {
  padding: 40px;
  border-radius: 5px;
}

div.list {
  counter-reset: list-number;
}

div.list div:before {
  counter-increment: list-number;
  content: counter(list-number);
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #660a9b;
  border-radius: 50%;
  color: #fff;
}

#course-menu {
  border: 1px solid orange;
  height: 2rem;
  width: 20rem;
  background-color: violet;
}


#maths-section {
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.5),
      rgba(27, 26, 51, 0.6),
      rgba(30, 27, 45, 0.8)),
    url("https://images.pexels.com/photos/5905857/pexels-photo-5905857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center no-repeat;
  background-size: cover;
  color: rgb(32, 30, 20);
  font-weight: 100;
  letter-spacing: 0.1;
  padding-bottom: 2rem;
}

.chapitre {
  display: inline;
  padding: 1rem 1rem;
  font-family: "Vollkorn", serif;
  margin: 1rem;
  padding: 0 auto;
  list-style: none;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.course-video-link span {
  display: block;
  width: 3rem;
  border-radius: 2px;
  background-color: #222;
  border: 2px solid orangered;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: whitesmoke;
  margin-right: 1rem;
}

.course-video-link {
  text-decoration: none;
  width: 20rem;
  font-weight: 400;
  font-family: Times new roman;
  display: block;
  display: flex;
}

/* menu */

.instruction-paragraph {
  color: rgb(207, 230, 207);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  padding: 1rem 1rem;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 3px solid rgba(255, 68, 0, 0.692);
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}

.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}

.effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* Course */

/* Course */

.week-wrapper {
  margin-bottom: 4rem;
}

.week-lesson {
  margin: 0 5rem;
  background-color: whitesmoke;
  /* border: 2px solid #333; */
  padding: 1rem 0 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.week-lesson-img {
  margin: 1rem;
  width: 15rem;
  height: 15rem;
}

.week-number {
  display: inline;
  margin: 0 1rem;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  align-self: center;
  border-radius: 2px;
  background-color: #222;
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #2f80ed,
      #4cb2d4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid rgb(248, 243, 243);
}

.lesson-links {
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.self-practice-wrapper {
  border: 3px solid rgba(60, 16, 163, 0.658);
  border-radius: 4px;
  margin: 0 1rem;
}

.practice-alone {
  margin: 0.5rem;
  padding: 1.3rem 0;
  background: #24c6dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #514a9d,
      #24c6dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #514a9d,
      #24c6dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
  letter-spacing: 0.17rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.self-practice-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem;
}

.item {
  padding: 0.3rem 0;
  font-size: 1.2rem;
}

/* TV Screen */

#tv-container {
  max-width: 1024px;
  margin: auto;
}

#monitor {
  background: #000;
  position: relative;
  border-top: 3px solid #888;
  margin: 5%;
  padding: 0.5% 2% 4% 2%;
  border-radius: 10px;
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
  transition: margin-right 1s;
}

#monitor:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3%;
  left: 36%;
  height: 0.5%;
  width: 28%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 3px 0 white;
}

#monitorscreen {
  position: relative;
  background-color: #777;
  background-size: cover;
  background-position: top center;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.afrohk-text {
  font-size: 1.2rem;
  font-family: "Kaushan Script", cursive;
}

.afrohk {
  letter-spacing: 0.2rem;
  color: white;
}

.tv {
  letter-spacing: 0.2rem;
  color: orangered;
}

#vimeo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0;
}

@media all and (min-width: 560px) {
  #monitor {
    -webkit-animation: tvflicker 0.2s infinite alternate;
    -moz-animation: tvflicker 0.5s infinite alternate;
    -o-animation: tvflicker 0.5s infinite alternate;
    animation: tvflicker 0.5s infinite alternate;
  }

  @-webkit-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(200, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 95px 0 rgba(200, 230, 255, 0.45);
    }
  }

  @-moz-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
  }

  @-o-keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
  }

  @keyframes tvflicker {
    0% {
      box-shadow: 0 0 100px 0 rgba(225, 235, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 60px 0 rgba(200, 220, 255, 0.6);
    }
  }
}

/*===================================

  Responsiveness

  ==================================*/

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 1000px) {
  .week-number {
    display: block;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .maths-title {
    font-size: 2rem;
  }

  .week-number span {
    width: 2rem;
    padding: 0 0.5rem;
    border: 1px solid orangered;
    color: whitesmoke;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 800px) {
  .course-details {
    padding: 1rem 5rem;
  }

  .learn-with-us>h3 {
    padding: 1rem 0;
  }

  .img-wrapper>img {
    width: 400px;
    height: 400px;
  }

  .week-number {
    display: block;
    margin: 1rem 0;
  }

  .week-number span {
    width: 2rem;
    padding: 0 0.5rem;
    border: 1px solid orangered;
    color: whitesmoke;
  }

  html {
    font-size: 85%;
  }

  .week-lesson-img {
    margin: 1rem;
    width: 10rem;
    height: 10rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .course-details {
    padding-left: 2.2rem;
  }

  .img-wrapper>img {
    width: 300px;
    height: 300px;
  }

  .learn-with-us>h3 {
    font-size: 3rem;
    padding: 1rem 0;
  }

  .week-lesson {
    margin: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .week-number {
    display: block;
    margin: 1rem 0;
  }

  .week-number span {
    width: 2rem;
    font-size: 2rem;
    padding: 0 0.3rem;
    border: 1px solid orangered;
    color: whitesmoke;
  }

  html {
    font-size: 75%;
  }

}

@media (max-width: 350px) {}