<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/engforev/home.css">
    <div class="wrapper">
    </div>

    <!-- Intro -->
    <div class=" col-md-8 container mt-5 px-3">
        <h3 class="intro pb-3">Élevez votre niveau d'Anglais avec Afro English Boost 🇬🇧✨</h3>

        <p class="fs-5">Professionnels et étudiants, ce programme de formation est conçu sur mesure pour vous!
            <br>
            Rejoignez "Afro English Boost", un programme de formation intensif en anglais par module de 3 mois, en
            présentiel et en ligne, conçu pour vous aider à atteindre vos objectifs académiques et professionnels.
        </p>

        <h3 class="intro">Pourquoi choisir Afro English Boost ?</h3>
        <ul>
            <li><i class="bi bi-exclude"></i> <em class="fw-bold">Enseignement de qualité:</em> Des formateurs
                expérimentés pour un apprentissage efficace.</li>
            <li> <i class="bi bi-exclude"></i><em class="fw-bold">Flexibilité : </em> Suivez les cours en présentiel ou
                en ligne, selon votre emploi du temps.</li>
            <li><i class="bi bi-exclude"></i><em class="fw-bold">Résultats garantis :</em> Gagnez en aisance à l’oral et
                en écriture en seulement 3 mois.</li>
            <li>
                <i class="bi bi-exclude"></i><em class="fw-bold"> Outils pratiques :</em>Approches modernes pour
                exceller dans vos études ou votre carrière.
            </li>
        </ul>
    </div>

    <h1 class="class-title" style="margin-top: 5rem;">Programme English Boost par niveau </h1>
    <div class="container my-5">
        <!-- English by level -->
        <div class="row">
            <!-- Debutant Level 1 -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://res.cloudinary.com/dccibzcxp/image/upload/v1733608332/Afro%20Language%20lab/English_Boost_1_hzl5yz.png"
                        alt="Level 1">
                    <h3 class="level beg">Débutant</h3>
                    <!-- Button trigger modal en Savoir plus -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#beg">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="beg" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pour s'incrire, veuillez contacter le
                                        service commercial</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-center inscription">Sservice commercial</h5>
                                    <p class="phone"> +226 67323131 - 53344444</p>
                                    <p class="whatsapp-msg"><a target="_blank" href="https://wa.me/22667323131#"><i
                                                class="fa mx-2 fa-whatsapp" aria-hidden="true"> </i>Écrivez-nous sur
                                            whatsApp </a></li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pre Int Level 2-->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://res.cloudinary.com/dccibzcxp/image/upload/v1733608330/Afro%20Language%20lab/English_Boost_2_oz1mqk.png"
                        alt="Level 2">
                    <h3 class="level int">Pre-Intermediare</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#int">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="int" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>
                </div>
            </div>
            <!-- Int Level 3-->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://res.cloudinary.com/dccibzcxp/image/upload/v1733608330/Afro%20Language%20lab/English_Boost_3_zyf6wo.png"
                        alt="Level 3">
                    <h3 class="level adv">Intermediare</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#adv">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="adv" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Master Class -->
    <h1 class="class-title" style="margin: 5rem 0;">Cours Spéciaux</h1>
    <div class="container mb-5">
        <div class="row">
            <!-- Spoken English -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://www.creativeitinstitute.com/images/course/course_1663654149.jpg" alt="">
                    <h3 class="level-spc beg">Spoken English</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#com">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="com" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="courses/65ea45accdc768b8ce3a52e8" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>

                </div>
            </div>
            <!-- Pronunciation -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://www.englishreservoir.com/wp-content/uploads/2021/10/1-1-1024x576.png" alt="">
                    <h3 class="level-spc int">English Pronunciation</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#pro">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="pro" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pour s'incrire, veuillez contacter le
                                        service commercial</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-center inscription">Sservice commercial</h5>
                                    <p class="phone"> +226 67323131 - 53344444</p>
                                    <p class="whatsapp-msg"><a target="_blank" href="https://wa.me/22667323131#"><i
                                                class="fa mx-2 fa-whatsapp" aria-hidden="true"> </i>Écrivez-nous sur
                                            whatsApp </a></li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Writing -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://thumbs.dreamstime.com/b/creative-writing-storytelling-education-concept-opened-book-school-study-learning-subject-book-review-summary-vector-icon-flat-123626764.jpg"
                        alt="">
                    <h3 class="level-spc adv">English Writting</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#wri">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="wri" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>
                </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Sponsored program -->
    <h1 class="class-title" style="margin: 5rem 0;">Programme Sponsorisé</h1>
    <div class="container mb-5">
        <div class="row">
            <!-- Spoken English -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://res.cloudinary.com/dccibzcxp/image/upload/v1725565869/Afro%20Language%20lab/IMG_7681_2_rqtqmb.jpg"
                        alt="">
                    <h3 class="level-spc beg">Faso Students English Boost Level 1</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#com">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="com" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="courses/65ea45accdc768b8ce3a52e8" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#enroll">
                        S'inscrire
                    </button>
                </div>
            </div>
            <!-- Pronunciation -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://res.cloudinary.com/dccibzcxp/image/upload/v1725565873/Afro%20Language%20lab/IMG_7657_dgicfb.jpg"
                        alt="">
                    <h3 class="level-spc int">Faso Students English Boost Level 2</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#pro">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="pro" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#enroll">
                    S'inscrire
                </button>
                </div>
            </div>
            <!-- Writing -->
            <div class="col-md-4">
                <div class="card-wrapper">
                    <img class="img-fluid img-thumbnail"
                        src="https://res.cloudinary.com/dccibzcxp/image/upload/v1696889976/Afro%20Language%20lab/IMG_8313_detbsu.jpg"
                        alt="">
                    <h3 class="level-spc adv">Faso Students English Boost Level 3</h3>
                    <!-- Button trigger modal -->
                    <button type="button" class="mb-2 mx-2 btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#wri">
                        En savoir plus
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="wri" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Anglais pour tous</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="tv-container">
                                        <div id="monitor">
                                            <div class="afrohk-TV">
                                                <h3 class="text-center afrohk-text mb-2 py-0">
                                                    <span class="afrohk">Afro</span><span class="tv"> Language <span
                                                            class="lab">Lab</span></span>
                                                </h3>
                                            </div>
                                            <div id="monitorscreen">
                                                <iframe id="vimeo-content"
                                                    src="https://player.vimeo.com/video/675654851?h=749c808189"
                                                    frameborder="0" height="500px" width="1000px"
                                                    allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen"
                                                    title="High-intensity Classes"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- <a href="" class="mb-2 mx-2 btn btn-outline-success">Témoignage</a> -->
                    <a href="" class="mb-2 mx-2 btn btn-outline-success">Etudier</a>
                    <button type="button" class="mb-2 mx-2  btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#enroll">
                    S'inscrire
                </button>
                </div>
            </div>
        </div>
    </div>