<% layout('layouts/boilerplate') %>
<link href="/stylesheets/100bac/exomathstleD.css" rel="stylesheet"/>
<h1 class="maths-title text-center">Exercices de mathematiques Tle D</h1>
<div class="maths-wrapper d-flex flex-column justify-content-center align-items-center container">
    <div id="course-menu-wrapper" class="col-2 d-flex flex-column justify-content-center align-items-center col-md-4">
        <!-- Button trigger modal -->
        <button type="button" class="course-menu-btn" data-bs-toggle="modal" data-bs-target="#maths-menu-collapse">
            Liste des chapitres
        </button>
        <div class="modal fade" id="maths-menu-collapse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Listes des chapitres Maths Tle D</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="course-list d-flex flex-wrap justify-content-center">
                            <p class="chapitre course-video-link"><span>1</span>Nombres Complexes</p>
                            <p class="chapitre course-video-link"><span>2</span>Limites et Continuite</p>
                            <p class="chapitre course-video-link"><span>3</span>Derivation</p>
                            <p class="chapitre course-video-link"><span>4</span>Fonction Logarithme Neperien</p>
                            <p class="chapitre course-video-link"><span>5</span>Fonction exponentielle</p>
                            <p class="chapitre  course-video-link"><span>6</span>Calcul d'Integrales</p>
                            <p class="chapitre course-video-link"><span>7</span>Suites Numeriques</p>
                            <p class="chapitre course-video-link"><span>8</span>Probabilites</p>
                            <p class="chapitre course-video-link"><span>9</span>Equations Differentielles</p>
                            <p class="chapitre course-video-link"><span>10</span>Geometrie dans l'espace</p>
                            <p class="chapitre course-video-link"><span>11</span>Statistiques</p>
                            <p class="chapitre course-video-link"><span>11</span>Courbes Parametrees</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="maths-section">
<div class="chapters-heading">
    <h3 class="chapters-heading-title text-center py-4">Exercices avec correction detaillées</h3>
    <p class="instruction-paragraph">
        Essayez toujours les exercices avant de regarder les solutions<br> Prenez le temps de bien suivre les explications dans les vidéos. <br>
        Bonne Concentration 😉...
    </p>
</div>
<!--Nombres Complexes-->
<div class="chapters">
    <div class="chapter-header d-flex justify-content-center">
        <button class="chapitre-btn effect01" id="video-1" type="button" data-bs-toggle="collapse" data-bs-target="#chap-1" aria-expanded="false" aria-controls="collapseExample">
            <span>Chapitre 1: Exercices Sur les Nombres Complexes</span>
        </button>
    </div>
    <div class="collapse" id="chap-1">
        <!--Chapitre 1 Tle D-->
        <div class="">
            <p class="text-white text-center my-3">
                Formes algebriques - Formes Trigonometriques
            </p>
            <div id="tv-container">
                              <div id="monitor">
                                  <div class="afrohk-TV">
                                      <h3 class="text-center afrohk-text mb-2 py-0"><span class="afrohk">AfroHK</span><span class="tv">TV</span>
                                      </h3>
                                  </div>
                                  <div id="monitorscreen">
                                      <iframe id="vimeo-content" src="https://player.vimeo.com/video/536620704?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"  frameborder="0" height="500px" width="1000px" allow="autoplay; fullscreen; picture-in-picture" allow="fullscreen" title="High-intensity Classes"></iframe>
                                  </div>
                              </div>
            </div>
            <!--Fin Chapitre-1 -->
        </div>
    </div>
</div>
</div>
