<% layout('layouts/boilerplate') %>
  <link href="/stylesheets/englishforAll/englishClubs/home.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- =======================================================
* Template Name: Selecao - v4.9.0
* Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->



  <!-- why english clubs  
<section class="why-eng-clubs d-flex justify-content-center flex-column">
  <h2 class="why-heading">
    <span class="underline"></span> All about Natural English clubs<span
      class="underline"
    ></span>
  </h2>

  <div
    data-aos="zoom-in-right"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
  >
    <div id="tv-container">
      <div id="monitor">
        <div class="afrohk-TV">
          <h3 class="text-center afrohk-text mb-2 py-0">
            <span class="afrohk">AfroHK</span><span class="tv">Radar</span>
          </h3>
        </div>
        <div id="monitorscreen">
          <iframe
            id="vimeo-content"
            src="https://player.vimeo.com/video/536620704?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0"
            height="500px"
            width="1000px"
            allow="autoplay; fullscreen; picture-in-picture"
            allow="fullscreen"
            title="High-intensity Classes"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section> 
-->


  <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
      <div id="" class="container carousel carousel-fade">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Anglais Naturel pour Professionnels</h2>
            <p class="animate__animated fanimate__adeInUp">Apprendre l’Anglais naturellement à partir des activités
              ludiques et interactives au sein des clubs de conversation
            </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto" data-bs-toggle="modal"
              data-bs-target="#inscription">S'inscrire</a>
          </div>
        </div>
        <!-- Modal for Inscription -->
        <div class="modal fade" id="inscription" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contactez-nous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h4 class="text-center py-3 bg-primary text-white">Service Commercial Afro Language Lab</h4>
                <hr>
                <div class="d-flex  flex-wrap justify-content-around" style="background-color: white;">
                  <button id="" class="bg-white">
                    <a id="" class=" fs-5" style="color: rgb(88, 7, 139);"
                      href="mailto:afrohouseofknowledge@gmail.com?"><i class="fa mx-2 p-3 fa-envelope-o" id=""
                        aria-hidden="true"></i><span>afrohouseofknowledge@gmail.com</span></a>
                  </button>

                  <button id="" class="bg-white">
                    <a id="" class="fs-5" href=" tel: +22664350101">
                      <i class="fa p-3 mx-2 fa-phone" aria-hidden="true"></i><span>(226) 64350101</span>
                    </a>
                  </button>

                  <button id="" class="bg-white">
                    <a id="" class="text-success  fs-5" style="text-decoration: none;" href="https://wa.me/22653344444"
                      target="_blank">
                      <i class="fa mx-2 p-3 fa-whatsapp" aria-hidden="true"></i>
                      <span class="">(226) 53344444</span></a>
                  </button>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Quitter</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
      </svg>

    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>But</h2>
            <p>Pourquoi rejoindre nos clubs?</p>
          </div>

          <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
              <p>
                Notre programme d'apprentissage de l'Anglais a travers les clubs de conversations vous offre les
                avantages suivants :
              </p>
              <ul>
                <li><i class="fa-solid fa-check-double"></i>Accès aux fondamentaux de l’Anglais pour toujours</li>
                <li><i class="fa-solid fa-check-double"></i>Apprentissage et amélioration continue </li>
                <li><i class="fa-solid fa-check-double"></i>Évaluation continue du niveau de progression</li>
                <li><i class="fa-solid fa-check-double"></i>Accès à une communauté d’amoureux de l’Anglais</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <img
                src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1679828340/Screen_Shot_2023-03-26_at_10.56.54_hjlani.png"
                alt="" class="img-fluid activity-img">
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

      <!-- ======= Features Section ======= -->

      <section id="features" class="features">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>Chaque Semaine</h2>
            <p>Vous aurez</p>
          </div>

          <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3" data-aos="zoom-in">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                <i class="fa-solid fa-people-group"></i>
                <h4 class="d-none d-lg-block">Activités en Présentiel</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                <i class="fa-solid fa-display"></i>
                <h4 class="d-none d-lg-block">Révision theorique en ligne </h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                <i class="fa-solid fa-person-chalkboard"></i>
                <h4 class="d-none d-lg-block">Coaching personnel</h4>
              </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                <i class="fa-solid fa-users-gear"></i>
                <h4 class="d-none d-lg-block">Réseautage avec des natifs Anglophones</h4>
              </a>
            </li>
          </ul>

          <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Activités ineractives pour les clubs en présentiels</h3>
                  <p class="fst-italic">
                    Faire des activités interactives et ludiques permet aux membres du club :
                  </p>
                  <ul>
                    <li><i class="fa-solid fa-check-double"></i> De mettre en pratique les connaissances apprises en
                      ligne</li>
                    <li><i class="fa-solid fa-check-double"></i> D'apprendre dans un environnement conviviale et
                      motivant </li>
                    <li><i class="fa-solid fa-check-double"></i> D'acquérir naturellement de nouvelles expressions
                      usuelles.</li>
                  </ul>
                  <p>
                    C'est le moment ideal pour les membres de se lacher et s'exprimer.
                  </p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img
                    src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981446/Afro%20Language%20Lab/Club%20Photos/80993daa-04e8-4364-81a1-186a7f500c0a_ecst0y.jpg"
                    alt="" class="img-fluid activity-img">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Une serie d'activités proposees en ligne</h3>
                  <p>
                    Suivant le syllabus du club, les membres beneficient des activités en ligne suivantes :
                  </p>
                  <ul>
                    <li><i class="fa-solid fa-check-double"></i> Vocabulaire utile publié journalièrement.</li>
                    <li><i class="fa-solid fa-check-double"></i> Deux sessions de discussions en ligne .</li>
                    <li><i class="fa-solid fa-check-double"></i> Des leçons de grammaire, prononciation etc.</li>
                    <li><i class="fa-solid fa-check-double"></i> Des exercices suivant le syllabus pour mieux maitriser
                    </li>
                    <li><i class="fa-solid fa-check-double"></i> Apprentissage avec la musique, redaction d'article par
                      les membres etc..</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img
                    src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1682264094/Screen_Shot_2023-04-23_at_16.33.19_hds00b.png"
                    alt="" class="img-fluid activity-img">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Oui ! Des coachs d'Anglais vous assistent pour vous surpasser.</h3>
                  <p>
                    Notre equique de jeunes et dynamiques coachs d'Anglais vous feront des retours pour :
                  </p>
                  <ul>
                    <li><i class="fa-solid fa-check-double"></i> Les expressions que vous connaissez pas encore</li>
                    <li><i class="fa-solid fa-check-double"></i> Les mots mal prononcés.</li>
                    <li><i class="fa-solid fa-check-double"></i> La mauvaise utilisation de la grammaire.</li>
                    <li><i class="fa-solid fa-check-double"></i> Mieux maitriser un aspect de la langue.</li>
                  </ul>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img
                    src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981440/Afro%20Language%20Lab/Club%20Photos/1e1bf7ba-bad8-496b-8be5-3fcddc390d66_claz4t.jpg"
                    alt="" class="img-fluid activity-img">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Nous vous offrons egalement l'opportunite de réseauter</h3>
                  <p class="reseautage">
                    Nous organisons des soirées de réseautage avec nos partenaires natifs Anglophones afin de permettre
                    aux professionnels, leaders, responsables, cadres et propriétaires d’entreprises du club de nouer
                    relations de partenariat ou de collaboration entre eux.
                  </p>
                  <p class="reseautage-1">
                    N'est-ce pas génial 🥰 ?
                  </p>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img
                    src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981441/Afro%20Language%20Lab/Club%20Photos/6bf2f5dc-7b37-4ab8-b184-5365a1060b29_kyc23f.jpg"
                    alt="" class="img-fluid activity-img">
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Features Section -->

   

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>Clubs</h2>
            <p>Nos Types de Club</p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box" data-aos="zoom-in-left">
                <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Professionals’ English Zone</a></h4>
                <p class="description">Anglais général pour professionnels et cadres d’entreprises.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a href="">Students English Club</a></h4>
                <p class="description">Club d’Anglais général pour étudiants.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                <div class="icon"><i class="fa-solid fa-stethoscope" style="color: #06dee9;"></i></div>
                <h4 class="title"><a href="">Health Professionals Club</a></h4>
                <p class="description">Club d’Anglais médical pour les professionnels du domaine de la santé.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                <div class="icon">
                  <<i class="fa-solid fa-plane-up" style="color:blue;"></i>
                </div>
                <h4 class="title"><a href="">Voice of the Sky</a></h4>
                <p class="description">Club d’Anglais aéronautique pour les professionnels du domaine de l’aviation.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                <div class="icon"><i class="fa-solid fa-business-time"></i></div>
                <h4 class="title"><a href="">Business English Club</a></h4>
                <p class="description">Club d’Anglais des affaires pour les hommes et femmes d’affaires</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
              <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                <div class="icon"><i class="fa-solid fa-helmet-safety" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a href="">Civil Engineers English Club</a></h4>
                <p class="description">
                  Club d'Anglais pour le génie civile pour les professionnels du Bâtiment.
                </p>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Services Section -->
   <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Parlez Anglais cette 
              année
              </h3>
            <p> Apprenez anglais en essayant autrement</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" data-bs-toggle="modal"
            data-bs-target="#inscription" href="#">Appelez-nous</a>
          </div>
        </div>

      </div>
    </section> 

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">

          <div class="section-title" data-aos="zoom-out">
            <h2>Mediatheque</h2>
            <p>Nos clubs en action</p>
          </div>
          <!--
        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
-->
          <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981442/Afro%20Language%20Lab/Club%20Photos/22a650a1-0bb1-48ac-a42d-5168cf791a4e_w85pox.jpg"
                  class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981461/Afro%20Language%20Lab/Club%20Photos/7057A14D-EF63-40EE-899C-FA38E8337354_voi7uq.jpg"
                  class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981447/Afro%20Language%20Lab/Club%20Photos/d999e948-8ae8-4f2f-ac7d-ddccf21498c1_es0mys.jpg"
                  class="img-fluid" alt=""></div>

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981444/Afro%20Language%20Lab/Club%20Photos/69b8de72-8c7d-44ae-abb9-24618cd49412_lb84ii.jpg"
                  class="img-fluid" alt=""></div>

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1681981444/Afro%20Language%20Lab/Club%20Photos/0327a1a6-15b1-4df6-8d34-ef14dbc1026c_iny2qp.jpg"
                  class="img-fluid" alt=""></div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1682269911/WhatsApp_Image_2023-04-23_at_18.09.19_2_cduive.jpg"
                  class="img-fluid" alt=""></div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-img"><img
                  src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1682269911/WhatsApp_Image_2023-04-23_at_18.09.19_jnqytu.jpg"
                  class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-img"><img src="https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1682269911/WhatsApp_Image_2023-04-23_at_18.09.19_1_rsih0p.jpg
              " class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-img"><img
                  src=" https://res.cloudinary.com/afro-house-of-knowledge/image/upload/v1682264097/Screen_Shot_2023-04-23_at_16.34.26_cetv33.png"
                  class="img-fluid" alt="">
              </div>
            </div>


          </div>

        </div>
      </section><!-- End Portfolio Section -->

      <!-- ======= Testimonials Section ======= 
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div> 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> End Testimonials Section -->

      <!-- ======= Pricing Section ======= 
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Pricing</h2>
          <p>Our Competing Prices</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> End Pricing Section -->

      <!-- ======= F.A.Q Section =======
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>End F.A.Q Section -->

      <!-- ======= Team Section ======= 
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> End Team Section -->

      <!-- ======= Contact Section =======
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section> End Contact Section -->

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

  </body>

  </html>